Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy

Reset march_world.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Reset home_gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix tests
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/calculation_setpoint.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Reset home_gait again
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add a problematic pointcloud
  ros1/src/data/march_realsense_test_publisher/config/datasets/bad_foot_location_1.ply
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Small fixes from MR comments
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Let realsense test publisher publish from source config
  ros1/src/data/march_realsense_test_publisher/config/datasets/bad_foot_location_1.ply
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove added pointcloud
  ros1/src/data/march_realsense_test_publisher/config/datasets/bad_foot_location_1.ply
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Improve comment
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix problem when groundgaiting
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_description/urdf/macros/configurable_joint.xacro
  ros2/src/shared/march_utility/march_utility/gait/calculation_setpoint.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Use set for comparison
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use unique pointers where possible in the region creator class
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use unique pointers in the region creator
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use unique pointers where possible
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Improve code comments
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix gait directory names
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add another debug method for the hull finder
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Prevent recursive call
  ros1/src/hardware/interface/march_hardware/src/encoder/incremental_encoder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove unnecessary switch statement
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add a comment to zero_position_iu
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/absolute_encoder.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use constant for byte to bit calculation
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/motor_controller_error.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Reduce duplication in gitignore
  .gitignore
Due: none

Typo
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Commit temp changes
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add test for hardware
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/motor_controller_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/test_joint_rotational_remove_fixed_joints.yaml
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Sleep 2s
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Comment code:
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Split in different functions
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/motor_controller_builder_test.cpp
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Undo reset
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/hardware/interface/march_smartglasses_bridge/launch/smartglasses_bridge.launch.py
  ros2/src/hardware/interface/march_smartglasses_bridge/march_smartglasses_bridge/bridge.py
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Set pre calibrated true by default
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Start adding test functionality
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Comment unused code
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use flake8 instead of deprecated flakehell
  .gitlab-ci.yml
Due: none

Remove pyproject.toml
  pyproject.toml
Due: flake8, flake8 for MRs

Remove all original flake8 dependencies
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Fix basic flake8 violations
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/hardware/interface/march_smartglasses_bridge/launch/smartglasses_bridge.launch.py
  ros2/src/hardware/interface/march_smartglasses_bridge/march_smartglasses_bridge/bridge.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/parametric_pop_up.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add basic configuration in .flake8 file
  .flake8
  .gitlab-ci.yml
Due: none

Disallow failures in flake8 stage
  .gitlab-ci.yml
Due: none
