Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:pep8, foxy:pep8, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH .
  ...

noetic:pep8:
  stage: Lint code
  script:
  - cd ros1/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

foxy:pep8:
  stage: Lint code
  script:
  - cd ros2/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Enable flake8-deprecated plugin
  pyproject.toml
Due: none

Enable flake8-printf-formatting plugin
  pyproject.toml
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/shared/march_shared_classes/test/setpoint_test.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/setpoint.py
  ros2/src/shared/march_shared_classes/test/setpoint_test.py
Due: noetic:pep8, foxy:pep8

Add baseline for flakehell only give warnings for new code
  .flake-baseline
  .gitlab-ci.yml
  pyproject.toml
Due: none

Add apt-utils to Dockerfile
  Dockerfile
Due: container:build

Enable flake8-pie plugin
  pyproject.toml
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/feet_state.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/foot.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/simulation/march_fake_sensor_data/launch/march_fake_sensor_data.launch.py
Due: noetic:pep8, foxy:pep8

Enable flake8-assertive plugin
  pyproject.toml
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros1/src/gaits/march_rqt_gait_generator/test/nosetests/modifiable_setpoint_test.py
  ros1/src/shared/march_shared_classes/test/setpoint_test.py
  ros1/src/shared/march_shared_classes/test/subgait_graph_test.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/shared/march_shared_classes/test/subgait_graph_test.py
Due: noetic:pep8, foxy:pep8

Be more verbose in flakehell
  .gitlab-ci.yml
Due: none

Update baseline
  .flake-baseline
Due: none

Rename cache key
  .gitlab-ci.yml
Due: none

Output flakehell in stat mode for debugging
  .gitlab-ci.yml
Due: none

Print flake8 plugins in CI linter stage
  .gitlab-ci.yml
Due: none

Remove flake-baseline file
  .flake-baseline
  pyproject.toml
Due: none

Use git diff for flakehell instead of baseline
  .gitlab-ci.yml
Due: none

Add baseline in pyproject.toml instead of commandline
  .gitlab-ci.yml
  pyproject.toml
Due: none

Improve condition in .gitlab-ci for running linter stage
  .gitlab-ci.yml
Due: none

Show git diff before running linter
  .gitlab-ci.yml
Due: none

Use NAME instead of SHA for flakehell diff checking
  .gitlab-ci.yml
Due: none

Adding code that calls the controller function
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Only run Python linter on merge requests to enable CI_MERGE_REQUEST_TARGET_BRANCH_SHA variable
  .gitlab-ci.yml
Due: none

Use specified branch image on merged results
  .gitlab-ci.yml
Due: none

Remove needs because invalid in detached mode but add runner failure retry
  .gitlab-ci.yml
Due: none

Read the documentation to find that 3 is too high for the amount of retries
  .gitlab-ci.yml
Due: none

Add shared function library to retrieve joint names for information node
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/safety/march_safety/include/march_safety/safety_node.hpp
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/shared/march_shared_functions/CMakeLists.txt
  ros2/src/shared/march_shared_functions/include/march_shared_functions/march_util.hpp
  ros2/src/shared/march_shared_functions/package.xml
  ros2/src/shared/march_shared_functions/src/march_util.cpp
  ros2/src/simulation/march_fake_sensor_data/CMakeLists.txt
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/FakeTemperatureData.hpp
  ros2/src/simulation/march_fake_sensor_data/package.xml
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: container:build, foxy:clang_tidy

Check if merge_request variables are actually available
  .gitlab-ci.yml
Due: none

Fix CMakelists of shared functions package
  ros2/src/shared/march_shared_functions/CMakeLists.txt
Due: none

Make cpp packages use new march_utility package
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/simulation/march_fake_sensor_data/CMakeLists.txt
  ros2/src/simulation/march_fake_sensor_data/package.xml
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: container:build, foxy:clang_tidy

Use march_utility instead of march_shared_classes
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/package.xml
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros2/src/march_launch/package.xml
  ros2/src/safety/march_safety/package.xml
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait_graph.py
  ros2/src/shared/march_utility/test/gait_test.py
  ros2/src/shared/march_utility/test/joint_trajectory_test.py
  ros2/src/shared/march_utility/test/limits_test.py
  ros2/src/shared/march_utility/test/setpoint_test.py
  ros2/src/shared/march_utility/test/subgait_graph_test.py
  ros2/src/shared/march_utility/test/subgait_test.py
Due: container:build, foxy:pep8

Fix import path
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Replace flake8 with flakehell
  .flake8
  pyproject.toml
Due: none

Fix remaining linter errors
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_spin_box_delegate.py
  ros1/src/gaits/march_rqt_gait_generator/test/nosetests/modifiable_setpoint_test.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/exceptions/general_exceptions.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/feet_state.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/foot.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait_graph.py
  ros1/src/shared/march_shared_classes/test/setpoint_test.py
  ros1/src/shared/march_shared_classes/test/subgait_graph_test.py
  ros1/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_shared_classes/march_shared_classes/exceptions/gait_exceptions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/setpoint.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait_graph.py
  ros2/src/shared/march_shared_classes/test/setpoint_test.py
  ros2/src/shared/march_shared_classes/test/subgait_graph_test.py
  ros2/src/simulation/march_fake_sensor_data/launch/march_fake_sensor_data.launch.py
  ros2/src/visualization/march_monitor/launch/monitor.launch.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/image_button.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
  ros2/src/visualization/march_rqt_note_taker/march_rqt_note_taker/filter_map.py
  ros2/src/visualization/march_rqt_note_taker/march_rqt_note_taker/notes_widget.py
Due: noetic:pep8, foxy:pep8

Add baseline for linter errors (See https://flakehell.readthedocs.io/commands/baseline.html)
  .flake-baseline
Due: none

Install flakehell and its dependencies in Dockerfile
  Dockerfile
Due: container:build

Replace flake8 with flakehell in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Track .flake-baseline in Git LFS
  .flake-baseline
  .gitattributes
Due: none

Fix launching with parameters
  ros2/src/safety/march_safety/config/safety_settings.yaml
  ros2/src/safety/march_safety/launch/march_safety.launch.py
  ros2/src/safety/march_safety/src/temperature_safety.cpp
Due: foxy:pep8, foxy:clang_tidy

Fix typo
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Changed reference value
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Prevent all package.xml changes from triggering container:build stage
  .gitlab-ci.yml
Due: none

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:pep8: any of: ros1/**/*.py
  foxy:pep8: any of: ros2/**/*.py
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
