Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:pep8, foxy:pep8, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH .
  ...

noetic:pep8:
  stage: Lint code
  script:
  - cd ros1/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

foxy:pep8:
  stage: Lint code
  script:
  - cd ros2/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

A lot of style fixes.
  ros2/src/shared/march_shared_classes/march_shared_classes/exceptions/general_exceptions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/feet_state.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/foot.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/setpoint.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/utility_functions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/vector_3d.py
Due: foxy:pep8

Small bug fix to restore tests
  ros2/src/shared/march_shared_classes/march_shared_classes/exceptions/general_exceptions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/test/setpoint_test.py
Due: foxy:pep8

Black fix
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
Due: foxy:pep8

Run before installing packages
  Dockerfile
Due: container:build

Fix part of the comments
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/foot.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
Due: foxy:pep8

Apply 6 suggestion(s) to 3 file(s)
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/feet_state.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/foot.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/gait.py
Due: foxy:pep8

Remove rosdep init in Dockerfile
  Dockerfile
Due: container:build

Restoring xacro file and adding some last finishing touches
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: noetic:clang_tidy

Add _macro.xacro file and introduce new service
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_resources/srv/SetObstacleSizeRampLike.srv
  ros1/src/shared/march_shared_resources/srv/SetObstacleSizeStairsLike.srv
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door.xacro
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door_macro.xacro
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Add services to ros2
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/srv/SetObstacleSizeRampLike.srv
  ros2/src/shared/march_shared_msgs/srv/SetObstacleSizeStairsLike.srv
Due: none

Fix check if obstacle is valid
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Continue refactor
  ros1/src/shared/march_shared_msgs/srv/SetObstacleSizeRampLike.srv
  ros1/src/shared/march_shared_msgs/srv/SetObstacleSizeStairsLike.srv
  ros1/src/shared/march_shared_resources/srv/SetObstacleSizeStairsLike.srv
Due: none

Remove 'bench' from ramp_and_door file and make stairs available for quick changing
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door.xacro
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door_macro.xacro
  ros1/src/simulation/march_simulation/obstacles/stairs.xacro
  ros1/src/simulation/march_simulation/obstacles/stairs_macro.xacro
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Fix typo
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Break code down into smaller functions
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Inserted estimator parameters in mpc controller and created log file
  ros1/src/control/606-branch-log.txt
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: noetic:clang_tidy

Disabling the safety controller
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: none

Revert "Rebase branch"
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Revert "Break code down into smaller functions"
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Fix merge issues
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Fix mypy warnings
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/feet_state.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/foot.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/setpoint.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/utility_functions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/vector_3d.py
Due: foxy:pep8

Remove unecessary floordiv
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/vector_3d.py
Due: foxy:pep8

Redo changes
  ros1/src/shared/march_shared_msgs/srv/SetObstacleSizeRampLike.srv
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
  ros2/src/shared/march_shared_msgs/srv/SetObstacleSizeRampLike.srv
Due: none

Remove tiny duplicated code fragment
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
Due: foxy:pep8

Small bug fix for failing test
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/vector_3d.py
Due: foxy:pep8

Adding functions to read reference files
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/references/sin.txt
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Enable cleanup after build
  .gitlab-ci.yml
Due: none

Add script that generates a list of all packages in .scripts folder
  .scripts/package_list.sh
Due: none

Use pre-generated list of packages in Dockerfile
  Dockerfile
Due: container:build

Added 606-branch-log to .gitignore
  .gitignore
Due: none

Added 606-branch-log with path to .gitignore
  .gitignore
Due: none

Added 606-branch-log with path to .gitignore on different place in file
  .gitignore
Due: none

Added 606-branch-log with path to .gitignore and a * in front of the path on different place in file
  .gitignore
Due: none

Generate Dockerfile without COPYing files during build time
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Fix sudden flake8 error
  ros1/src/shared/march_shared_classes/src/march_shared_classes/exceptions/general_exceptions.py
Due: noetic:pep8

Use different snapshot mode and experimental RUN implementation
  .gitlab-ci.yml
Due: none

Add disclaimer to Dockerfile and only run build stage if Dockerfile has changed
  .gitlab-ci.yml
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Remove context parameter for kaniko
  .gitlab-ci.yml
Due: none

Fix local flakehill linter warnings
  ros2/src/shared/march_utility/march_utility/utilities/side.py
Due: foxy:pep8

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:pep8: any of: ros1/**/*.py
  foxy:pep8: any of: ros2/**/*.py
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
