Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Fix feet collisions locations
  ros2/src/shared/march_description/urdf/march4.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Walk gaits based on Patrick in passive exo first draft.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use consistent naming for march6 stl files
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/stl-files/march6/FootLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/FootRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipRight.stl
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update xacro to align visuals
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_description/urdf/stl-files/march6/LeftFoot.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LeftHAA.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerLeftLeg.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerLegLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerLegRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerRightLeg.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/RightFoot.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/RightHAA.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperLeftLeg.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperLegLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperLegRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperRightLeg.stl
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Adjust scale of stl models by a factor of 0.001
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/stl-files/march6/FootLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/FootRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipBase.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerLegLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerLegRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperLegLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperLegRight.stl
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Realign with smaller visuals
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove redundant scale arguments
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove invisible objects to ensure that they are not loaded while starting the simulation
  ros2/src/shared/march_description/urdf/stl-files/march6/FootLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/FootRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipBase.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/HipRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerLegLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/LowerLegRight.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperLegLeft.stl
  ros2/src/shared/march_description/urdf/stl-files/march6/UpperLegRight.stl
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix some problems
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Updated linear testjoint gaits
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/default.yaml
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_1/linear_sine_subgait_1/MVI_linear_sine_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_2/linear_sine_subgait_2/MVI_linear_sine_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_3/linear_sine_gait_3.gait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_3/linear_sine_subgait_3/MVI_linear_sine_subgait_v3.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_4/linear_sine_gait_4.gait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_4/linear_sine_subgait_4/MVI_linear_sine_subgait_v4.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_testjoint_ankle_walk_gait/linear_testjoint_ankle_walk_gait.gait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_testjoint_ankle_walk_gait/linear_testjoint_ankle_walk_subgait/MVI_linear_ankle_walk_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_testjoint_hip_walk_gait/linear_testjoint_hip_walk_gait.gait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_testjoint_hip_walk_gait/linear_testjoint_hip_walk_subgait/MVI_linear_hip_walk_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/rotational_testjoint_hip_walk_gait/rotational_testjoint_hip_walk_subgait/MVI_rotational_hip_walk_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/rotational_testjoint_knee_walk_gait/rotational_testjoint_knee_walk_gait.gait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/rotational_testjoint_knee_walk_gait/rotational_testjoint_knee_walk_subgait/MVI_rotational_knee_walk_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/rotational_trapezoidal/rotational_trapezoidal.gait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/rotational_trapezoidal/trapezoidal_slope1_amp0349_period05/MVI_trapezoidal_slope1_amp0349_period05.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Clean up code
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/encoder/incremental_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_rotational_odrive/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros2/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/shared/march_description/urdf/test_joint_rotational_odrive.xacro
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Re-enable absolute encoder
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Avoid republishing old results and fix marker color
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Final walk files.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix bugs
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add enlarging of effort command for IMC
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Prepare files for running gaits on linear joints
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_linear/controllers.yaml
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/default.yaml
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_1/linear_sine_subgait_1/MVI_linear_sine_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_2/linear_sine_subgait_2/MVI_linear_sine_subgait_v2.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_3/linear_sine_subgait_3/MVI_linear_sine_subgait_v3.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_4/linear_sine_subgait_4/MVI_linear_sine_subgait_v4.subgait
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Also visualize the ramp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

High walk final gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_high_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Small walk gait files.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_close/MVI_walksmall_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_swing/MVI_walksmall_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_close/MVI_walksmall_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_swing/MVI_walksmall_rightswing_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Improve visuals
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp code
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Large walk final gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_close/MVI_walklarge_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_swing/MVI_walklarge_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_close/MVI_walklarge_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_open/MVI_walklarge_rightopen_V3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_swing/MVI_walklarge_rightswing_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Changed small and large walking gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_close/MVI_walklarge_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_swing/MVI_walklarge_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_open/MVI_walklarge_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_swing/MVI_walklarge_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_close/MVI_walksmall_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_swing/MVI_walksmall_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_close/MVI_walksmall_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_swing/MVI_walksmall_rightswing_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Final small walk gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_swing/MVI_walksmall_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_swing/MVI_walksmall_rightswing_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Improved stair gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

No succes
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix setpoint precision
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_close/MVI_walklarge_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_swing/MVI_walklarge_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_close/MVI_walklarge_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_open/MVI_walklarge_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_swing/MVI_walklarge_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_close/MVI_walksmall_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_swing/MVI_walksmall_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_close/MVI_walksmall_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_swing/MVI_walksmall_rightswing_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Also change the setpoint precision of the ros1 setpoints to 1 decimal
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix sets when setpoints have reduced precision
  ros1/src/shared/march_shared_classes/test/setpoint_test.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Run black .
  .scripts/run-clang-format.py
Due: flake8, flake8 for MRs

New stairs up, not perfect yet.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Also use march6 in simulation
  ros1/src/march_launch/launch/march_simulation.launch
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Also fix modifiable setpoint test
  ros1/src/gaits/march_rqt_gait_generator/test/nosetests/modifiable_setpoint_test.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Change preprocessor header stamp to ros time
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Changed default yaml.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Make new flat ramp up version
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_rampup_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_rampup_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_rampup_leftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_rampup_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_rampup_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_rampup_rightswing_flat_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Final stair_up gaits version 4
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Moved the gait files to the airgait directory.
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_high_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_high_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_high_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_high_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_high_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/walk.gait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_large/left_close/MVI_walklarge_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_large/left_swing/MVI_walklarge_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_large/right_close/MVI_walklarge_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_large/right_open/MVI_walklarge_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_large/right_swing/MVI_walklarge_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_large/walk_large.gait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_small/left_close/MVI_walksmall_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_small/left_swing/MVI_walksmall_leftswing_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_small/right_close/MVI_walksmall_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_small/right_open/MVI_walksmall_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_small/right_swing/MVI_walksmall_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk_small/walk_small.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
