Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Fix readYaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Fix final build problems
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Use float over double
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
Due: noetic:clang_tidy

Explain length of vector
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Let realsense reader use the euclidean clustering
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Tune parameters for euclidean clustering
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
Due: none

Devide by a float
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add uclidean clustering to the realsense_reader
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
Due: noetic:clang_tidy

Clean up code
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Improve point removal
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Fix build with new point removal
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Add cleanUpPointCloud method to remove nans
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Add documentation
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Remove removePointByIndex method
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Fix build
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Format cpp code
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Remove warning
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: none

Adding up to date mpc code from main
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/include/mpc_references.h
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/control/march_acado_mpc/src/mpc_references.cpp
  ros1/src/shared/march_description/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
  ros1/src/simulation/march_gazebo_plugins/include/contact/contact_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/contact_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march3.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march4.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march4_with_koen_lengths.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/test_joint_rotational.yaml
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march4.yaml
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/test_joint_rotational.yaml
  ros1/src/simulation/march_simulation/config/groundgait/effort_control/march4.yaml
  ros1/src/simulation/march_simulation/launch/disable_camera_plugins.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
  ros2/src/shared/march_robot_information/march_robot_information/robot_information_node.py
  ros2/src/shared/march_utility/include/march_utility/node_utils.hpp
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
  ros2/src/shared/march_utility/src/node_utils.cpp
  ros2/src/shared/march_utility/test/subgait_test.py
Due: noetic:clang_tidy, foxy:clang_tidy

Move point is lower method to linear algebra utilities
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix cmake
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: none

Change march gait selection test files
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/left_close/MV_walk_leftclose_v1.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/left_close/MV_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/left_close/MV_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_close/MIV_final.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_close/MV_walk_rightclose_v1.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_close/MV_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_close/MV_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_open/MV_balancewalk_rightopen_v1.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_open_1/MV_balancewalk_rightopen1_v2.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/right_open_1/MV_balancewalk_rightopen1_v3.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/right_close/MIV_final.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/right_open/MIV_final.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk/right_open/MV_walk_rightopen_v2.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_medium/left_close/MV_walk_leftclose_v1.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_medium/right_close/MV_walk_rightclose_v1.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_medium/right_open/MV_walk_rightopen_v1.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_small/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_small/right_close/MIV_final.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_small/right_open/MIV_final.subgait
Due: none

Change shared gaits
  ros2/src/shared/march_utility/test/resources/ik_test/swing/backward_swing.subgait
  ros2/src/shared/march_utility/test/resources/ik_test/swing/forward_swing.subgait
  ros2/src/shared/march_utility/test/resources/walk/left_close/MIV_final.subgait
  ros2/src/shared/march_utility/test/resources/walk/left_close/MV_walk_leftclose_inverse_kinematics_v2.subgait
  ros2/src/shared/march_utility/test/resources/walk/left_close/MV_walk_leftclose_v1.subgait
  ros2/src/shared/march_utility/test/resources/walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/shared/march_utility/test/resources/walk/right_close/MIV_final.subgait
  ros2/src/shared/march_utility/test/resources/walk/right_close/MV_walk_rightclose_v1.subgait
  ros2/src/shared/march_utility/test/resources/walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/shared/march_utility/test/resources/walk/right_open/MIV_final.subgait
  ros2/src/shared/march_utility/test/resources/walk/right_open/MV_walk_rightopen_v1.subgait
  ros2/src/shared/march_utility/test/resources/walk/right_open/MV_walk_rightopen_v2.subgait
Due: none

Fix test
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/right_open/MIV_final.subgait
Due: none

Add standing position to the yamls
  ros2/src/gaits/march_gait_files/minimal/default.yaml
  ros2/src/gaits/march_gait_files/simulation_only-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: none

Change minimal gaits
  ros2/src/gaits/march_gait_files/minimal/balance_walk/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open/MV_balancewalk_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v2.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v3.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v5_4.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6_2.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6_3.subgait
  ros2/src/gaits/march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6_4.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/left_close_large/MV_walklarge_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/left_close_small/MV_walksmall_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_close_large/MV_walklarge_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_close_small/MV_walksmall_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_open/MIV_final.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v5.subgait
Due: none

Fix cmake list
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: none

Add bare yaml to new directories
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/training-vi/default.yaml
Due: none

Acutally fix test file
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/right_open/MIV_final.subgait
Due: none

Format cpp code
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix typo
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/right_open/MIV_final.subgait
Due: none

Revert changes that had to do with std::optional
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/error_type.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
Due: noetic:clang_tidy
