Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:pep8, foxy:pep8, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH .
  ...

noetic:pep8:
  stage: Lint code
  script:
  - cd ros1/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

foxy:pep8:
  stage: Lint code
  script:
  - cd ros2/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Adding controller function to the mpc class
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Going from main to an experimental branch of acado-solver
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Due: none

Fixing build errors
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding test_joint_rotational robot to mpc controller type
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational.yaml
Due: none

Update cmakelists and package.xml
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/safety/march_safety/package.xml
Due: container:build

Add black and bugbear to flake8
  .flake8
Due: none

Remove previous linters and install flake8-black
  .flake8
  .gitlab-ci.yml
  Dockerfile.base
Due: none

Fix bugbear lint errors
  ros1/src/control/march_gain_scheduling/test/one_step_linear_interpolation_test.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_spin_box_delegate.py
  ros1/src/gaits/march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/simulation/march_fake_sensor_data/launch/march_fake_sensor_data.launch.py
  ros2/src/visualization/march_rqt_gait_version_tool/launch/gait_version_tool.launch.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_plugin.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
  ros2/src/visualization/march_rqt_gait_version_tool/setup.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_plugin.py
  ros2/src/visualization/march_rqt_note_taker/setup.py
Due: noetic:pep8, foxy:pep8

Remove Dockerfile.base because it can cause side effects when packages are removed
  Dockerfile
  Dockerfile.base
Due: container:build

Use different folder selection syntax for flake8 in CI configuration
  .gitlab-ci.yml
Due: none

Forbid failure of flake8 stage
  .gitlab-ci.yml
Due: none

Ignore linter errors that conflict with black formatter
  .flake8
Due: none

Fix shebang and executable permissions in python files
  ros1/src/control/march_gain_scheduling/test/one_step_linear_interpolation_test.py
  ros1/src/gaits/march_gait_selection/test/nosetests/run_tests.py
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros1/src/shared/march_shared_classes/test/run_tests.py
  ros1/src/visualization/march_rqt_robot_monitor/setup.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/visualization/march_rqt_gait_version_tool/setup.py
  ros2/src/visualization/march_rqt_input_device/launch/input_device.launch.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/image_button.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_plugin.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
  ros2/src/visualization/march_rqt_input_device/package.xml
  ros2/src/visualization/march_rqt_input_device/plugin.xml
  ros2/src/visualization/march_rqt_input_device/setup.py
  ros2/src/visualization/march_rqt_note_taker/launch/note_taker.launch.py
  ros2/src/visualization/march_rqt_note_taker/setup.py
  ros2/src/visualization/march_rqt_note_taker/test/run_tests.py
Due: container:build, noetic:pep8, foxy:pep8

Eradicate commented out code based on flake8-eradicate
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_table_controller.py
  ros2/src/visualization/march_monitor/launch/monitor.launch.py
Due: noetic:pep8, foxy:pep8

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

Apply linter suggestions from flake8-comprehensions
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/home_gait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/gait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait_graph.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait_graph.py
  ros2/src/visualization/march_rqt_note_taker/march_rqt_note_taker/notes_widget.py
Due: noetic:pep8, foxy:pep8

Reformat changes after https://gitlab.com/project-march/march/-/merge_requests/728
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_robot_information/launch/robot_information.launch.py
  ros2/src/shared/march_robot_information/march_robot_information/robot_information_node.py
  ros2/src/shared/march_robot_information/setup.py
  ros2/src/shared/march_robot_information/test/launch_test/robot_information_description_launch_test.py
  ros2/src/shared/march_robot_information/test/launch_test/robot_information_launch_test.py
  ros2/src/shared/march_robot_information/test/unittest/test_robot_information.py
Due: foxy:pep8

Fix flake8 warning about unused variable and imports
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: foxy:pep8

Add _macro.xacro file and introduce new service
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_resources/srv/SetObstacleSizeRampLike.srv
  ros1/src/shared/march_shared_resources/srv/SetObstacleSizeStairsLike.srv
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door.xacro
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door_macro.xacro
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Fix check if obstacle is valid
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Add services to ros2
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/srv/SetObstacleSizeRampLike.srv
  ros2/src/shared/march_shared_msgs/srv/SetObstacleSizeStairsLike.srv
Due: none

Continue refactor
  ros1/src/shared/march_shared_msgs/srv/SetObstacleSizeRampLike.srv
  ros1/src/shared/march_shared_msgs/srv/SetObstacleSizeStairsLike.srv
  ros1/src/shared/march_shared_resources/srv/SetObstacleSizeStairsLike.srv
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Use flakehell instead of flake8 for easier transition
  .flake8
  pyproject.toml
Due: none

Fix bugbear lint errors
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
Due: foxy:pep8

Run black formatter on ROS 2 folder
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait_graph.py
  ros2/src/visualization/march_monitor/launch/monitor.launch.py
  ros2/src/visualization/march_rqt_note_taker/march_rqt_note_taker/notes_widget.py
Due: foxy:pep8

Enable mccabe flake8 plugin
  pyproject.toml
Due: none

Enable pep8-naming plugin
  pyproject.toml
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_spin_box_delegate.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/image_button.py
Due: noetic:pep8, foxy:pep8

Use flakehell instead of flake8 for easier transition of Python linter plugins
  .gitlab-ci.yml
  Dockerfile
Due: container:build

Use bash in installation of flake8 plugins
  Dockerfile
Due: container:build

Enable flake8-builtins plugin
  pyproject.toml
  ros1/src/shared/march_shared_classes/src/march_shared_classes/exceptions/general_exceptions.py
Due: noetic:pep8

Enable flake8-executable plugin
  pyproject.toml
Due: none

Enable flake8-string-format plugin
  pyproject.toml
Due: none

Enable flake8-eradicate plugin
  pyproject.toml
Due: none

Enable flake8-rst-docstrings plugin
  pyproject.toml
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/feet_state.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait_graph.py
  ros1/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_shared_classes/march_shared_classes/exceptions/gait_exceptions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait_graph.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
  ros2/src/visualization/march_rqt_note_taker/march_rqt_note_taker/filter_map.py
Due: noetic:pep8, foxy:pep8

Enable flake8-todos plugin
  pyproject.toml
  ros1/src/shared/march_shared_classes/src/march_shared_classes/exceptions/general_exceptions.py
  ros2/src/visualization/march_monitor/launch/monitor.launch.py
Due: noetic:pep8, foxy:pep8

Enable flake8-comprehensions plugin
  pyproject.toml
Due: none

Enable flake8-print plugin
  pyproject.toml
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: foxy:pep8

Enable flake8-commas plugin
  pyproject.toml
Due: none

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:pep8: any of: ros1/**/*.py
  foxy:pep8: any of: ros2/**/*.py
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
