Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:pep8, foxy:pep8, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH .
  ...

noetic:pep8:
  stage: Lint code
  script:
  - cd ros1/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

foxy:pep8:
  stage: Lint code
  script:
  - cd ros2/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Try Docker BuildKit to cache and speedup building
  .gitlab-ci.yml
Due: none

Remove 'bench' from ramp_and_door file and make stairs available for quick changing
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door.xacro
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door_macro.xacro
  ros1/src/simulation/march_simulation/obstacles/stairs.xacro
  ros1/src/simulation/march_simulation/obstacles/stairs_macro.xacro
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Restructure Dockerfile to be more cachable
  .gitlab-ci.yml
  Dockerfile
Due: container:build

Turn off safety controller for rotational joint
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: none

Use kaniko instead of dind
  .gitlab-ci.yml
Due: none

Set cache to true for kaniko
  .gitlab-ci.yml
Due: none

Copy .flake-baseline in Dockerfile for flakehell
  Dockerfile
Due: container:build

Adjust rosdep definitions path
  Dockerfile
Due: container:build

Fix first integration test of march_safetygit add -A!
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/safety/march_safety/include/march_safety/safety_node.hpp
  ros2/src/safety/march_safety/launch/march_safety.launch.py
  ros2/src/safety/march_safety/package.xml
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/safety/march_safety/test/__init__.py
  ros2/src/safety/march_safety/test/launch/march_safety_connection_lost.launch.py
  ros2/src/safety/march_safety/test/util.py
  ros2/src/visualization/march_rqt_input_device/launch/input_device.launch.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
Due: container:build, foxy:pep8, foxy:clang_tidy

Remove ros identifier from full projects path
  Dockerfile
Due: container:build

Fix other input device tests
  ros1/src/safety/march_safety/test/launch/march_safety_connection_lost.test
  ros1/src/safety/march_safety/test/launch/march_safety_connection_never_started.test
  ros1/src/safety/march_safety/test/launch/march_safety_connection_not_lost.test
  ros2/src/safety/march_safety/include/march_safety/input_device_safety.hpp
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/test/launch/march_safety_connection_lost.launch.py
  ros2/src/safety/march_safety/test/launch/march_safety_connection_lost.test
  ros2/src/safety/march_safety/test/launch/march_safety_connection_never_started.test
  ros2/src/safety/march_safety/test/launch/march_safety_connection_not_lost.test
Due: foxy:pep8, foxy:clang_tidy

Remove .test files
  ros1/src/safety/march_safety/test/launch/march_safety_connection_lost.test
  ros1/src/safety/march_safety/test/launch/march_safety_connection_never_started.test
  ros1/src/safety/march_safety/test/launch/march_safety_connection_not_lost.test
  ros2/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
Due: foxy:clang_tidy

Migrate inverse kinematics to ROS2
  ros2/src/gaits/march_gait_files/simulation_only-vi/default.yaml
  ros2/src/shared/march_shared_classes/march_shared_classes/exceptions/general_exceptions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/__init__.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/feet_state.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/foot.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/setpoint.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/utility_functions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/vector_3d.py
  ros2/src/shared/march_shared_classes/setup.py
  ros2/src/shared/march_shared_classes/test/resources/ik_test/ik_test.gait
  ros2/src/shared/march_shared_classes/test/resources/ik_test/swing/backward_swing.subgait
  ros2/src/shared/march_shared_classes/test/resources/ik_test/swing/forward_swing.subgait
  ros2/src/shared/march_shared_classes/test/setpoint_test.py
  ros2/src/shared/march_shared_classes/test/subgait_test.py
Due: foxy:pep8

Remove unnecessary changes to default.yaml
  ros2/src/gaits/march_gait_files/simulation_only-vi/default.yaml
Due: none

Undo accidental change to ros1 file
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
Due: noetic:pep8

Reformat again due to black error
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
Due: foxy:pep8

Add typing to subgait and utility functions
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/utilities/utility_functions.py
Due: foxy:pep8

Add a lot more typing and shorten lines
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/feet_state.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/foot.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/setpoint.py
Due: noetic:pep8, foxy:pep8

Fix typing and line length for foot and feet_state
  ros2/src/shared/march_shared_classes/march_shared_classes/exceptions/general_exceptions.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/feet_state.py
  ros2/src/shared/march_shared_classes/march_shared_classes/foot_classes/foot.py
Due: foxy:pep8

Small black refactor
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/setpoint.py
Due: foxy:pep8

Disable ANN101 and ANN102 checking
  pyproject.toml
Due: none

Add first temperature safety tests
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/safety/march_safety/config/safety_settings.yaml
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/safety/march_safety/test/config/safety_test.yaml
  ros2/src/safety/march_safety/test/launch/march_safety_connection.launch.py
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/safety/march_safety/test/rostest/error_counter.h
  ros2/src/safety/march_safety/test/util.py
Due: foxy:pep8, foxy:clang_tidy

Show less errors when file ends with '_test.py'
  .flake-baseline
  pyproject.toml
Due: none

Fix a few of the linter errors
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/shared/march_shared_classes/test/setpoint_test.py
  ros2/src/shared/march_shared_classes/test/subgait_test.py
Due: foxy:pep8

Disable all ANN2xx errors in test files
  pyproject.toml
Due: none

Add tests for exceeding temperature thresholds
  ros2/src/safety/march_safety/include/march_safety/temperature_safety.hpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/safety/march_safety/test/config/safety_test.yaml
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.test
  ros2/src/safety/march_safety/test/rostest/no_temperature_error_test.cpp
Due: foxy:pep8, foxy:clang_tidy

Add all parameterized tests
  ros2/src/safety/march_safety/test/config/safety_test.yaml
  ros2/src/safety/march_safety/test/launch/march_safety_connection.launch.py
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/safety/march_safety/test/util.py
Due: foxy:pep8

Revert some warning 'fixes'
  ros2/src/shared/march_utility/include/march_utility/node_utils.hpp
  ros2/src/shared/march_utility/src/node_utils.cpp
Due: foxy:clang_tidy

Transform to package that can contain both python and cpp code
  ros2/src/shared/march_utility/CMakeLists.txt
  ros2/src/shared/march_utility/package.xml
  ros2/src/shared/march_utility/setup.cfg
  ros2/src/shared/march_utility/setup.py
Due: container:build, foxy:pep8

Enable python testing for march_utility
  ros2/src/shared/march_utility/CMakeLists.txt
  ros2/src/shared/march_utility/package.xml
Due: container:build

Undo renaming for ros1
  ros1/src/shared/march_shared_classes/setup.py
  ros1/src/shared/march_shared_classes/test/gait_test.py
  ros1/src/shared/march_shared_classes/test/run_tests.py
  ros1/src/shared/march_shared_classes/test/subgait_test.py
Due: noetic:pep8

Resolve MR comments
  ros2/src/shared/march_utility/CMakeLists.txt
  ros2/src/shared/march_utility/src/node_utils.cpp
Due: foxy:clang_tidy

Fix some clang-tidy warnings
  ros2/src/shared/march_utility/include/march_utility/node_utils.hpp
  ros2/src/shared/march_utility/src/node_utils.cpp
Due: foxy:clang_tidy

Add utility function for get_joint_names
  ros2/src/shared/march_utility/include/march_utility/node_utils.hpp
  ros2/src/shared/march_utility/src/node_utils.cpp
  ros2/src/simulation/march_fake_sensor_data/CMakeLists.txt
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/FakeTemperatureData.hpp
  ros2/src/simulation/march_fake_sensor_data/package.xml
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: container:build, foxy:clang_tidy

Add march_description dependency for tests
  ros2/src/shared/march_robot_information/package.xml
  ros2/src/shared/march_utility/CMakeLists.txt
  ros2/src/shared/march_utility/package.xml
Due: container:build

Convert to vector of string immediately
  ros2/src/shared/march_utility/src/node_utils.cpp
Due: foxy:clang_tidy

Adding easy reference change variable
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding missing semi-colon
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Use std::move in node_utils
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_utility/src/node_utils.cpp
Due: foxy:pep8, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:pep8: any of: ros1/**/*.py
  foxy:pep8: any of: ros2/**/*.py
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
