Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Renamed haa_adpf to cybathlon.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_cybathlon_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Removed all wrong gaits from stairs_down_backwards
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v6a.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v7.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v8.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v9.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v7.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v8.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v9.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Changed description of 35 cm depth to 45 cm.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_deep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Checked all forward stair gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_undeep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Stair down backward gaits checked on peaks and ankle positions.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_undeep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Do recursive step on the vector and not on a region
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use pointcloud vectors correctly
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Made the flat version 2 gait better.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add CurrentIPDState msg to march_shared_msgs
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/CurrentIPDState.msg
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/CurrentIPDState.msg
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add example code for smartglass bridge
  ros2/src/hardware/interface/march_smartglasses_bridge/march_smartglasses_bridge/bridge.py
  ros2/src/hardware/interface/march_smartglasses_bridge/package.xml
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change the version names in the gait files.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_cybathlon_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Made the leftswing match to the right swing.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_cybathlon_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Finalize methods
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add documentation and methods to the header
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typo and and remove useless using
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Continue fixing build
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix initializations
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Start save functionality
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/include/utilities/publish_mode_utilities.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
  ros2/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add writer
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Write to correct path
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Changes to order in CMakeLists
  ros1/src/data/march_realsense_reader/CMakeLists.txt
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cmakelists
  ros1/src/data/march_realsense_reader/CMakeLists.txt
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Improve messages
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Finalize messages
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix build
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix process timeout error
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fixing saving of pointcloud
  ros1/src/data/march_realsense_test_publisher/config/datasetssdfsfd.ply
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Check for valid save name
  ros1/src/data/march_realsense_test_publisher/config/datasets/jkfjkj.ply
  ros1/src/data/march_realsense_test_publisher/config/datasetssdfsfd.ply
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Only transform if the image comes from the realsense viewer
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix clang
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Update variable names
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Undo reset
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use __FILE__ to find current source file
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Improve save successful massage
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove test file
  ros1/src/data/march_realsense_test_publisher/config/datasets/jkfjkj.ply
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix typo
  ros1/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
  ros2/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
