Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Add flake8-expression-complexity
  Dockerfile
  ros1/src/gaits/march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/utilities/utility_functions.py
  ros1/src/shared/march_shared_classes/test/gait_test.py
  ros2/src/shared/march_utility/test/gait_test.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: container:build, flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add flake8-commas
  .flake8
  Dockerfile
Due: container:build

Add flake8-string-format
  Dockerfile
Due: container:build

Add flake8-printf-formatting
  Dockerfile
Due: container:build

Add flake8-print
  Dockerfile
Due: container:build

Add flake8-pie
  .flake8
  Dockerfile
  ros1/src/data/march_data_collector/src/march_data_collector/com_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/data/march_data_collector/src/march_data_collector/inverted_pendulum.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_table_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_view.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/feet_state.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/foot.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/gait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/joint_trajectory.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/limits.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait_graph.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/utilities/vector_3d.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/state_machine_input.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/limits.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait_graph.py
  ros2/src/shared/march_utility/march_utility/utilities/vector_3d.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_note_taker/march_rqt_note_taker/notes_widget.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
Due: container:build, flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add flake8-rst-docstrings
  .flake8
  Dockerfile
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: container:build, flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add pep8-naming
  Dockerfile
Due: container:build

Add flake8-todos
  Dockerfile
Due: container:build

Add pylint
  Dockerfile
Due: container:build

Add separate flake8 container tag stage
  .gitlab-ci.yml
Due: none

Remove develop dependencies in flake8 Dockerimage
  .gitlab/images/Dockerimage_flake8
Due: none

Remove the 'tag' stage for flake8
  .gitlab-ci.yml
  .gitlab/images/Dockerimage_flake8
Due: none

Use separate namespace for flake8 images
  .gitlab-ci.yml
Due: none

Create separate stage for flake8 checking
  .gitlab-ci.yml
  .gitlab/images/Dockerimage_flake8
  Dockerfile
Due: container:build

Add comments to flake8 stage in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Rename Dockerimage_flake8 to Dockerfile_flake8
  .gitlab/images/Dockerfile_flake8
Due: none

Run flake8 stage whenever possible
  .gitlab-ci.yml
Due: none

Use 'rules' keyword instead of 'only' keyword for flake8 stage
  .gitlab-ci.yml
Due: none

Only run last condition of flake8 stage if MR or branch
  .gitlab-ci.yml
Due: none

Use merge/branch switch from .gitlab-ci.yml reference
  .gitlab-ci.yml
Due: none

Build the Docker container for flake8 based on rules instead of 'only'
  .gitlab-ci.yml
Due: none

Remove flake8 from generate_dockerfile.sh
  .scripts/generate_dockerfile.sh
Due: none

Ignore flake8 for all files in test folders
  .flake8
Due: none

Attempt to fix flake8 violation B008
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix failing ros foxy tests
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Make a small change to flake8 Dockerfile to trigger build pipeline
  .gitlab/images/Dockerfile_flake8
Due: none

Restore flake8 corrections in tests
  ros1/src/shared/march_shared_classes/test/gait_test.py
  ros2/src/shared/march_utility/test/gait_test.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Preprocess codeclimate file before setting it as an artifact
  .gitlab-ci.yml
Due: none

Add comment about sed in flake8 stage
  .gitlab-ci.yml
Due: none

Debug time difference
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use pipes with flake8 instead of writing to a temporary file
  .gitlab-ci.yml
Due: none

Print the content of codeclimate.json for redundency
  .gitlab-ci.yml
Due: none

Use tee to print to stdout and write to codeclimate.json file in flake8 stage
  .gitlab-ci.yml
Due: none

Fix flake8 violations that happened in the meantime
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Remove incorrect flake8 corrections in test files
  ros2/src/shared/march_utility/test/gait_test.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add empty array if codeclimate.json file is empty
  .gitlab-ci.yml
Due: none

Add optional needs to flake8 stage
  .gitlab-ci.yml
Due: none

Remove .flake8-base template from .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Remove tag container stage
  .gitlab-ci.yml
Due: none

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
