Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:pep8, foxy:pep8, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH .
  ...

noetic:pep8:
  stage: Lint code
  script:
  - cd ros1/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

foxy:pep8:
  stage: Lint code
  script:
  - cd ros2/
  - python3 -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python3 -m flake8

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Added path of log file again to .gitignore
  .gitignore
Due: none

Delete previously commited 606-branch-log.txt file from repository
  ros1/src/control/606-branch-log.txt
Due: none

Adding new urdf file for mpc testing
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational_mpc.yaml
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: noetic:clang_tidy

Update baseline
  .flake-baseline
  pyproject.toml
Due: none

Allow flake8 stage to fail temporarily
  .gitlab-ci.yml
Due: none

Remove baseline from flakehell
  .flake-baseline
  pyproject.toml
Due: none

Use podman instead of docker
  .gitlab-ci.yml
Due: none

Change gait generator to include button for the IK setpoints
  ros1/src/gaits/march_rqt_gait_generator/resource/gait_generator.ui
Due: none

Add a window for the button to open to grab the necessary inputs
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input.ui
Due: none

Connect IK setpoint button to a function call and print a nice message
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: noetic:pep8

Start with showing window when button is pressed
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_view.py
Due: noetic:pep8

Adding skeleton check_foot_pressure() function
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:pep8

Adding Skeleton pressure check statements
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:pep8

Adding new way of issuing logs
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:pep8

Adding potentially working feet pressure warning system
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:pep8

Automatic format
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:pep8

Adding finishing touches and debug message
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:pep8

Applying flakehell lint suggestions
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:pep8

Added inertia estimator features to model predictive controller
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
Due: noetic:clang_tidy

Undo updating baseline
  .flake-baseline
  pyproject.toml
Due: none

Bodge untill the dialogue is shown. Cannot be shut down gracefully yet
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_dialogue.ui
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_mainwindow.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_input.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_view.py
Due: noetic:pep8

Copy march_safety to ROS2 folder
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/safety/march_safety/include/march_safety/input_device_safety.h
  ros2/src/safety/march_safety/include/march_safety/safety_handler.h
  ros2/src/safety/march_safety/include/march_safety/safety_type.h
  ros2/src/safety/march_safety/include/march_safety/temperature_safety.h
  ros2/src/safety/march_safety/launch/march_safety.launch
  ros2/src/safety/march_safety/launch/safety_settings.yaml
  ros2/src/safety/march_safety/package.xml
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/safety/march_safety/test/launch/march_safety_connection_lost.test
  ros2/src/safety/march_safety/test/launch/march_safety_connection_never_started.test
  ros2/src/safety/march_safety/test/launch/march_safety_connection_not_lost.test
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.test
  ros2/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/error_counter.h
  ros2/src/safety/march_safety/test/rostest/no_temperature_error_test.cpp
Due: container:build, foxy:clang_tidy

Change service name to block_like
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/srv/SetObstacleSizeBlockLike.srv
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/srv/SetObstacleSizeBlockLike.srv
Due: none

Comment some tests to reduce flakiness
  ros2/src/safety/march_safety/test/launch/march_safety_connection.launch.py
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/safety/march_safety/test/util.py
Due: foxy:pep8

Clean up cpp code
  ros2/src/safety/march_safety/include/march_safety/safety_handler.hpp
  ros2/src/safety/march_safety/include/march_safety/safety_node.hpp
  ros2/src/safety/march_safety/include/march_safety/temperature_safety.hpp
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
Due: foxy:clang_tidy

Cleanup test launch file
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
Due: foxy:pep8

Use fstring
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Resolve error and make code more readable
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Make the if statements and comments more understandable and fix bugs in them
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Remove idea and add to gitgnore to prevent it happening again
  .gitignore
  ros1/.idea/modules.xml
  ros1/.idea/ros1.iml
  ros1/.idea/serialmonitor_settings.xml
  ros1/.idea/vcs.xml
  ros1/.idea/workspace.xml
Due: none

Remove old way of addeing plugin
  ros1/src/march_gazebo_plugins/include/realsense_gazebo_plugin/RealSensePlugin.h
  ros1/src/march_gazebo_plugins/include/realsense_gazebo_plugin/gazebo_ros_realsense.h
  ros1/src/march_gazebo_plugins/src/RealSensePlugin.cpp
  ros1/src/march_gazebo_plugins/src/gazebo_ros_realsense.cpp
  ros1/src/realsense_gazebo_plugin/CHANGELOG.rst
  ros1/src/realsense_gazebo_plugin/CMakeLists.txt
  ros1/src/realsense_gazebo_plugin/README.md
  ros1/src/realsense_gazebo_plugin/include/realsense_gazebo_plugin/RealSensePlugin.h
  ros1/src/realsense_gazebo_plugin/include/realsense_gazebo_plugin/gazebo_ros_realsense.h
  ros1/src/realsense_gazebo_plugin/package.xml
  ros1/src/realsense_gazebo_plugin/src/RealSensePlugin.cpp
  ros1/src/realsense_gazebo_plugin/src/gazebo_ros_realsense.cpp
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
Due: container:build, noetic:clang_tidy

Add second submodule
  .gitmodules
  ros1/src/shared/march_description/package.xml
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
  ros1/src/simulation/march_gazebo_plugins/package.xml
  ros2/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
Due: container:build

Revert CMakeLists change which is unnecessary
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
Due: none

Add library wrong way
  ros1/src/realsense_gazebo_plugin/CHANGELOG.rst
  ros1/src/realsense_gazebo_plugin/CMakeLists.txt
  ros1/src/realsense_gazebo_plugin/README.md
  ros1/src/realsense_gazebo_plugin/include/realsense_gazebo_plugin/RealSensePlugin.h
  ros1/src/realsense_gazebo_plugin/include/realsense_gazebo_plugin/gazebo_ros_realsense.h
  ros1/src/realsense_gazebo_plugin/package.xml
  ros1/src/realsense_gazebo_plugin/src/RealSensePlugin.cpp
  ros1/src/realsense_gazebo_plugin/src/gazebo_ros_realsense.cpp
Due: container:build, noetic:clang_tidy

Add basic working version of realsense camera
  ros1/src/march_gazebo_plugins/src/RealSensePlugin.cpp
  ros1/src/shared/march_description/CMakeLists.txt
  ros1/src/shared/march_description/package.xml
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
  ros1/src/simulation/march_gazebo_plugins/package.xml
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
Due: container:build, noetic:clang_tidy

Remove install folder
  ros1/src/march_gazebo_plugins/install/.colcon_install_layout
  ros1/src/march_gazebo_plugins/install/_local_setup_util_ps1.py
  ros1/src/march_gazebo_plugins/install/_local_setup_util_sh.py
  ros1/src/march_gazebo_plugins/install/local_setup.bash
  ros1/src/march_gazebo_plugins/install/local_setup.ps1
  ros1/src/march_gazebo_plugins/install/local_setup.sh
  ros1/src/march_gazebo_plugins/install/local_setup.zsh
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/.catkin
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/colcon-core/packages/march_gazebo_plugins
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/pkg_config_path.dsv
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/pkg_config_path.ps1
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/pkg_config_path.sh
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/pkg_config_path_multiarch.dsv
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/pkg_config_path_multiarch.ps1
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/pkg_config_path_multiarch.sh
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/ros_package_path.dsv
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/ros_package_path.ps1
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/hook/ros_package_path.sh
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/package.bash
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/package.dsv
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/package.ps1
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/package.sh
  ros1/src/march_gazebo_plugins/install/march_gazebo_plugins/share/march_gazebo_plugins/package.zsh
  ros1/src/march_gazebo_plugins/install/setup.bash
  ros1/src/march_gazebo_plugins/install/setup.ps1
  ros1/src/march_gazebo_plugins/install/setup.sh
  ros1/src/march_gazebo_plugins/install/setup.zsh
Due: noetic:pep8

Remove unnecessary dependency
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
Due: none

Remove accidental install folder and add ros2 version of the dependencies
  requirements.apt
  ros1/src/march_simulation/config/inertia_control/install/.colcon_install_layout
  ros1/src/march_simulation/config/inertia_control/install/_local_setup_util_ps1.py
  ros1/src/march_simulation/config/inertia_control/install/_local_setup_util_sh.py
  ros1/src/march_simulation/config/inertia_control/install/local_setup.bash
  ros1/src/march_simulation/config/inertia_control/install/local_setup.ps1
  ros1/src/march_simulation/config/inertia_control/install/local_setup.sh
  ros1/src/march_simulation/config/inertia_control/install/local_setup.zsh
  ros1/src/march_simulation/config/inertia_control/install/setup.bash
  ros1/src/march_simulation/config/inertia_control/install/setup.ps1
  ros1/src/march_simulation/config/inertia_control/install/setup.sh
  ros1/src/march_simulation/config/inertia_control/install/setup.zsh
  ros2_dependencies.repos
Due: noetic:pep8

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:pep8: any of: ros1/**/*.py
  foxy:pep8: any of: ros2/**/*.py
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
