Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Improve function names
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Improve function naming
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Improve input explanation strings
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Start fix flakehell
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Continue fixing flakehell
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Remove old test files
  ros2/src/safety/march_safety/test/launch/march_safety_connection_lost.test
  ros2/src/safety/march_safety/test/launch/march_safety_connection_never_started.test
  ros2/src/safety/march_safety/test/launch/march_safety_connection_not_lost.test
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.test
Due: none

Remove unused variable from class
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Bodge untill the dialogue is shown. Cannot be shut down gracefully yet
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_dialogue.ui
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_mainwindow.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_input.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_view.py
Due: none

Change gait generator to include button for the IK setpoints
  ros1/src/gaits/march_rqt_gait_generator/resource/gait_generator.ui
Due: none

Connect IK setpoint button to a function call and print a nice message
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Start with showing window when button is pressed
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_view.py
Due: none

Add a window for the button to open to grab the necessary inputs
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input.ui
Due: none

Fix setpoints adding logic
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Remove debug statements
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Add time constraint
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Implement tranformation of coordinate system and start calculation setpoints
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Delete unused files
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input.ui
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_dialogue.ui
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_mainwindow.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_input.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_view.py
Due: none

Refactor and remove debug statement
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Finnish buttons
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Change to QInputDialog
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_input.py
Due: none

Remove old setpoints when it has the same time as the new setpoint
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Add possibility to turn off simulation camera to test with physical camera
  ros1/src/march_launch/launch/march.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/shared/march_description/urdf/camera/_d435.urdf.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
Due: none

Removing march_utility dependancy from march_gait_selection
  ros2/src/gaits/march_gait_selection/package.xml
Due: container:build

Refactor to make use of smart pointers
  ros2/src/safety/march_safety/include/march_safety/input_device_safety.hpp
  ros2/src/safety/march_safety/include/march_safety/safety_handler.hpp
  ros2/src/safety/march_safety/include/march_safety/safety_node.hpp
  ros2/src/safety/march_safety/include/march_safety/temperature_safety.hpp
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
Due: foxy:clang_tidy

Work on flakehell
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Resolve MR comments
  ros2/src/safety/march_safety/package.xml
  ros2/src/safety/march_safety/src/input_device_safety.cpp
Due: container:build, foxy:clang_tidy

Remove const from functions that may change state
  ros2/src/safety/march_safety/include/march_safety/safety_handler.hpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
Due: foxy:clang_tidy

Set verbosity to debug
  .gitlab-ci.yml
Due: none

Run the build phase 5x in parallel
  .gitlab-ci.yml
Due: none

Use trace verbosity
  .gitlab-ci.yml
Due: none

Don't run container:build when .gitlab-ci.yml is changed
  .gitlab-ci.yml
Due: none

Adding read reference functions
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/references/sin.csv
  ros1/src/control/march_acado_mpc/references/sin.txt
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Move goal_position_y out of if statements.
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Fix capitalization.
  ros1/src/gaits/march_rqt_gait_generator/resource/gait_generator.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Add a message when a warnings has occured, explain magic numbers, decrease duplication.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
