Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Shut down when no files are present and improve naming
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix file constants
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add respawn argument
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Change name of node
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Same peak values for large and small walk gaits v2.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_close/MVI_walklarge_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_swing/MVI_walklarge_leftswing_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_close/MVI_walklarge_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_open/MVI_walklarge_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_swing/MVI_walklarge_rightswing_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_close/MVI_walksmall_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_swing/MVI_walksmall_leftswing_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_close/MVI_walksmall_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_swing/MVI_walksmall_rightswing_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

New settings for linear joint
  ros1/src/hardware/interface/march_hardware/config/linear_joint.json
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_linear/controllers.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_description/urdf/march4.xacro
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Continue work
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add shutdown system fuctionality
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/utilities/shutdown.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove print statement
  ros2/src/shared/march_utility/march_utility/utilities/shutdown.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Allow force unknown while executing a gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove warning in building mpc package and errror in testing mpc package
  ros2/src/visualization/march_mpc_visualization/setup.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add button to input device and create first version of RealSenseGait class in default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/realsense_stairs_up.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_low_undeep.subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/visualization/march_rqt_input_device/config/default.json
  ros2/src/visualization/march_rqt_input_device/resource/img/realsense_stairs_up.png
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update message types and add camera enum
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Some fixes in includes and adding better from_yaml function for creating the gaits in gait_selection
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/Camera.msg
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add gait directory and (sub)gait names to interpolation function
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix rebase mistake
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix for when disabling failures, step is still too low
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Remove old include
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix setting new obstacle size
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Remove some debugging and reset scheduler earlier
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use previously created subgaits to improve speed for 2D gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format all code
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/dimensions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix tests and stopping when no parameters are found
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove some of the logging
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change all RealSense gaits to be a single class
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/dimensions.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Push work so floor can work from home
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_close/MVI_walklarge_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_swing/MVI_walklarge_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_close/MVI_walklarge_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_open/MVI_walklarge_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_swing/MVI_walklarge_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_close/MVI_walksmall_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_swing/MVI_walksmall_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_close/MVI_walksmall_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_swing/MVI_walksmall_rightswing_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add interpolation debugging
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove some logging
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Improve amount of digits and run black
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Also change setpoint precision in ros1 for consistency
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix state machine when empty is returned
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add some more comments
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Revert small change to subgait
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format using black
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add more comments and first steps to fix with new bug fix
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Reformat
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_setpoints_gait.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add new images to rqt input device
  ros2/src/visualization/march_rqt_input_device/config/default.json
  ros2/src/visualization/march_rqt_input_device/resource/img/realsense_stairs_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/realsense_stairs_up.png
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Small fix from MR comment
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
