Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy

Create separate stage for flake8 checking
  .gitlab-ci.yml
  .gitlab/images/Dockerimage_flake8
  Dockerfile
Due: container:build

Also add the gaits to the airgait directory because they looked good
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v5.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add separate flake8 container tag stage
  .gitlab-ci.yml
Due: none

Fix narrowing conversion and unitionalized variable
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove unused error as e
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Set rotation to z
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove old .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Setup files for GitLab CI Python
  .gitlab-ci.py
  .gitlab/pipeline/Dockerfile
  .gitlab/pipeline/gitlab-ci/gitlab-ci.py
  .gitlab/pipeline/test/test_utils.py
  generated-config.yml
Due: flake8, flake8 for MRs

Rename generating stages in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Debug changes
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

MAke exo gait
  ros2/src/gaits/march_gait_files/airgait-vi/exo_test/exo_test.gait
  ros2/src/gaits/march_gait_files/airgait-vi/exo_test/perform_test/perform_test_v0.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Magic fix
  ros2/src/gaits/march_gait_files/airgait-vi/exo_test/exo_test.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Moved endurance gait to correct directory
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/endurance/default.yaml
  ros2/src/gaits/march_gait_files/endurance/endurance_gait/endurance.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/default.yaml
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/endurance_gait/endurance_gait.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/endurance_gait/endurance_subgait/endurance_rotational_v1.subgait
  ros2/src/visualization/march_rqt_input_device/config/test_joint.json
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Use separate namespace for flake8 images
  .gitlab-ci.yml
Due: none

Remove the 'tag' stage for flake8
  .gitlab-ci.yml
  .gitlab/images/Dockerimage_flake8
Due: none

Remove develop dependencies in flake8 Dockerimage
  .gitlab/images/Dockerimage_flake8
Due: none

Run flake8 stage whenever possible
  .gitlab-ci.yml
Due: none

Add error message when there are no actuating joints
  ros1/src/march_launch/scripts/upload_controller_values.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Use 'rules' keyword instead of 'only' keyword for flake8 stage
  .gitlab-ci.yml
Due: none

Renome the shared MV walk subgaits
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MV_walk_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MV_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MV_walk_leftclose_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MV_walk_leftclose_v4a.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MV_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MV_walk_leftclose_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_swing/MV_walk_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_swing/MV_walk_leftswing_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_swing/MV_walk_leftswing_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_swing/MV_walk_leftswing_v4a.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_swing/MV_walk_leftswing_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_swing/MV_walk_leftswing_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MV_walk_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MV_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MV_walk_rightclose_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MV_walk_rightclose_v4a.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MV_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MV_walk_rightclose_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MV_walk_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MV_walk_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MV_walk_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MV_walk_rightopen_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MV_walk_rightopen_v4a.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MV_walk_rightopen_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MV_walk_rightopen_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_swing/MV_walk_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_swing/MV_walk_rightswing_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_swing/MV_walk_rightswing_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_swing/MV_walk_rightswing_v4a.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_swing/MV_walk_rightswing_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_swing/MV_walk_rightswing_v6.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use merge/branch switch from .gitlab-ci.yml reference
  .gitlab-ci.yml
Due: none

Sort joint names
  ros1/src/march_launch/scripts/upload_controller_values.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Only run last condition of flake8 stage if MR or branch
  .gitlab-ci.yml
Due: none

Debug changes
  ros1/src/hardware/interface/march_hardware/src/ethercat/ethercat_master.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/exo_test/perform_test/perform_test_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/exo_test/perform_test/perform_test_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/exo_test/perform_test/perform_test_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v5.subgait
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Rename Dockerimage_flake8 to Dockerfile_flake8
  .gitlab/images/Dockerfile_flake8
Due: none

Add comments to flake8 stage in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Also remove forgotten gaits
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove stairs up left close MV gaits from test_versions_vi
  ros2/src/gaits/march_gait_files/test_versions_vi/stairs_up/left_close/MV_stairsup_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/stairs_up/left_close/MV_stairsup_leftclose_v12.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/stairs_up/left_close/MV_stairsup_leftclose_v15.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/stairs_up/left_close/MV_stairsup_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/stairs_up/left_close/MV_stairsup_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/stairs_up/left_close/MV_stairsup_leftclose_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/stairs_up/left_close/MV_stairsup_leftclose_v5.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove the MIV walk gait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/left_swing/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_open/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk/right_swing/MIV_final.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add MVI gaits back to last step
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/left_close/MVI_RD_laststep_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/left_close/MVI_RD_laststep_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/left_close/MV_RD_laststep_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/left_close/MV_RD_laststep_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/right_open/MVI_RD_laststep_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/right_open/MVI_RD_laststep_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/right_open/MV_RD_laststep_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/ramp_door_last_step/right_open/MV_RD_laststep_rightopen_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Renmove walk large MV gaits
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_large/left_close/MV_walklarge_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_large/left_swing/MV_walklarge_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_large/right_close/MV_walklarge_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_large/right_open/MV_walklarge_rightopen_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Debug changes
  ros1/src/hardware/interface/march_hardware/src/ethercat/ethercat_master.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/march6/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/shared/march_description/urdf/march6.xacro
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Update test_versions_vi default
  ros2/src/gaits/march_gait_files/test_versions_vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update cmakelist
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs
