Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Actually fix cmakelist
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add the slope up MV version to the MV gait directory
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_up/left_close/MV_RD_slopeup_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_up/ramp_door_slope_up.gait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_up/right_close/MV_RD_slopeup_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/march_v_gaits/test_versions_v/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Transfer locatations to try to world frame
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove superfluous loggers and clean up code
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Debug changes
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/march6/controllers.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Change default value of the use_sim_time variable
  ros1/src/march_launch/launch/march.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Newest values
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add knee k values
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Merge float fix and start debug
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add time debug
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

:zap: Make sure joint names are always sorted
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_robot_information/march_robot_information/robot_information_node.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add updated limits
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Set simulation soft buffers
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Debug info for points
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Update kfe and hfe safety controller parameters
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add time debug
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Allow deg, red or iu as unit
  ros2/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros2/src/shared/march_description/urdf/properties/march4.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add slow walk for airgait
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v6.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Transform everything to world expept gait information
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Changes
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/march6/controllers.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Set default for fixed joints to false
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/launch/march.launch
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Changes
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Set current subgait after interpolation and improve get frame id method
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Only send the current subgait and calculate the frame id to transform to from there
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Foot Locations transform to world
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/point_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Warn when using old data
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix removing the joints param
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Quick fix for visualizing exoskeleton with imu and physical exoskeleton
  ros2/src/shared/march_description/urdf/march4.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add temperature and additional comparison in MotorControllerState
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_motorcontroller_state.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_shared_msgs/msg/MotorControllerState.msg
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add flake8-assertive
  Dockerfile
Due: container:build

Add flake8-bandit
  Dockerfile
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/shared/march_utility/march_utility/utilities/shutdown.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: container:build, flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add flake8-builtins
  Dockerfile
Due: container:build

Add flake8-2020
  Dockerfile
Due: container:build

Add flake8-blind-except
  Dockerfile
Due: container:build

Add flake8-bugbear
  .flake8
  Dockerfile
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: container:build, flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add flake8-comprehensions
  Dockerfile
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: container:build, flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add flake8-executable
  Dockerfile
  ros1/src/simulation/march_simulation/scripts/republish_pointclouds.py
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.py
  ros2/src/safety/march_safety/test/launch/march_safety_connection.launch.py
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_robot_information/test/launch_test/robot_information_description_launch_test.py
  ros2/src/visualization/march_mpc_visualization/setup.py
  ros2/src/visualization/march_rqt_robot_monitor/setup.py
Due: container:build, flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add flake8-deprecated
  Dockerfile
Due: container:build

Add flake8-eradicate
  Dockerfile
  ros2/src/safety/march_safety/test/launch/march_safety_temperature.launch.py
  ros2/src/shared/march_robot_information/setup.py
  ros2/src/shared/march_robot_information/test/launch_test/robot_information_description_launch_test.py
  ros2/src/shared/march_robot_information/test/launch_test/robot_information_launch_test.py
Due: container:build, flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
