Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy

Allign fred visuals
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Increase hip flexion in both legs for steep ramp gait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_rampup_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_rampup_leftopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_rampup_leftswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_rampup_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_rampup_rightopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_rampup_rightswing_steep_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Not perfect stair down gait files.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_cybathlon_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update end points of ramp and door slope down in test versions vi
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_steep_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add the gait
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/single_step_normal/left_close/MVI_singlenormal_leftclose_slow_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/single_step_normal/right_open/MVI_singlenormal_rightopen_slow_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Airgaitgit status
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/error_type.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/error/error_type.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_rotational_odrive/controllers.yaml
  ros1/src/shared/march_description/CMakeLists.txt
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/no_translational-vi/default.yaml
  ros2/src/gaits/march_gait_files/no_translational-vi/single_step_normal/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/single_step_normal/right_open/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_description/urdf/test_joint_rotational_odrive.xacro
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add many config and gait files
  ros1/src/hardware/interface/march_hardware_builder/robots/march6_no_translational_joints.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_left_leg_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_right_leg_rotational.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/march6_no_translational_joints/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_left_leg_rotational/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_right_leg_rotational/controllers.yaml
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/prepare_stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/stand.gait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/walk/left_open/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_joint_gaits2/default.yaml
  ros2/src/gaits/march_gait_files/test_joint_gaits2/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_joint_gaits2/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_gait_files/test_joint_gaits3/default.yaml
  ros2/src/gaits/march_gait_files/test_joint_gaits3/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_joint_gaits3/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_gait_files/test_joint_gaits4/default.yaml
  ros2/src/gaits/march_gait_files/test_joint_gaits4/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_joint_gaits4/test_joint_gait/test_joint_gait.gait
  ros2/src/shared/march_description/urdf/test_left_leg_rotational.xacro
  ros2/src/shared/march_description/urdf/test_right_leg_rotational.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Allign lower leg and haa with upper leg
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update comment
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Apply 1 suggestion(s) to 1 file(s)
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Update parameters and fix number of neighbours
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add comments from Katja
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix reading of the foot height and tansform using half
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Improve debug output and comments
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Work on color utilities
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Move direction to encoder class
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/absolute_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/error_type.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/incremental_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/error/error_type.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix collision origin pressure sensor
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Decapitalise topic names
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Move color utilities to the output utilities
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/output_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

The real final stairs_up version 4.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use the new utilities
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Final stair down gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_cybathlon_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix build
  ros1/src/data/march_realsense_reader/include/utilities/debug_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/output_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Do not use utility file for point locations
  ros1/src/data/march_realsense_reader/include/utilities/debug_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Rename debug to color utilities
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add input descriptions
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Also add the gait to the test_versions directory
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_rampup_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_rampup_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_rampup_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_rampup_leftopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_rampup_leftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_rampup_leftswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_rampup_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_rampup_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_rampup_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_rampup_rightopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_rampup_rightswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_rampup_rightswing_steep_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format cpp code
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix visual inconsistencies
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Make color name a constant reference
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add argument for plane output
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Set the region grower to use normal growing by default
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Rename realsense sit to sit
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add two new standard sit versions
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/realsense_sit.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/realsense_stand.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix the gaits
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add the stand and sit gaits to the no translational directory
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_down/MVI_sit_down_v1.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_down/MVI_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_home/MVI_sit_home_v1.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/sit/sit_home/MVI_sit_home_v2.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v2.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/stand.gait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/stand_up/MVI_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/no_translational-vi/stand/stand_up/MVI_stand_up_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add endpoint of gait to the yaml
  ros2/src/gaits/march_gait_files/no_translational-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add the sit and stand gait to the default yaml
  ros2/src/gaits/march_gait_files/no_translational-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs
