Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Fix rebase conflicts
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Lots of renaming
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/plane_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/plane_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Uncomment debug comment
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Update more comments
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/msg/GaitParameters.msg
Due: noetic:clang_tidy

Add renamed service to the bridge config
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Due: none

Use default branch for JointTrajectoryController repo
  .gitmodules
Due: none

Increase controllerUpdateSoftBound value
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
Due: noetic:clang_tidy

Change ROS_INFO to ROS_DEBUG
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/march_launch/launch/march.launch
Due: noetic:clang_tidy

Create setup instructions and script for ethercat_grant
  doc/getting_started/install_ros_and_tools.rst
  doc/getting_started/setup_your_workspace.rst
  doc/using_the_march_exoskeleton/connecting_to_the_exoskeleton.rst
  doc/using_the_march_exoskeleton/connecting_to_the_exoskeleton_ethercat.rst
  doc/using_the_march_exoskeleton/setup_ethercat_grant.sh
  index.rst
Due: none

Let black make changes.
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: none

Add missing doc string.
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: none

Fix message description in ros2
  ros2/src/shared/march_shared_msgs/msg/GaitParameters.msg
Due: none

Fix link
  conf.py
  doc/using_the_march_exoskeleton/connecting_to_the_exoskeleton_ethercat.rst
Due: none

Adding files needed for using the linear joint with odrive
  ros1/src/hardware/interface/march_hardware/config/linear_joint.json
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_linear/controllers.yaml
  ros1/src/march_launch/launch/linear_joint_motorcontrollor_test.launch
Due: none

Fix transform & normal filter kind off.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
Due: none

Make downsampling fast again.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Do parameter for better downsampling.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
Due: none

First attempt to add dual camera
  ros1/src/march_launch/launch/march.launch
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Move camera launching to new file
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none

Finilize downsampling.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/march_launch/launch/march.launch
Due: noetic:clang_tidy

Remove SOR and clean up code.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Remove possible gaits from static bridge
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Due: none

Replace every mention of imc by motor_controller
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/motor_controller_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
  ros2/src/visualization/multiplot_configurations/velocity.xml
Due: none

Change contains requirement for Control in .yaml file
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
Due: none

Adding error enums
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Removing calc soft bound
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Reverse bridge
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Due: none

Finalize code.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Clean up paraemters.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add accidently removed parameters.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
Due: none

Undo launch file changes wich will be done better in another issue.
  ros1/src/march_launch/launch/march.launch
Due: none

Remove parameters again because I forgot what the plan was there.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
Due: none

Remove reference to the translation.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Use ethercat_grant as launch prefix in MHWI launch file
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
Due: none

Use sim_time:=false in monitor packages
  ros2/src/visualization/march_monitor/launch/monitor.launch.py
  ros2/src/visualization/march_rqt_gait_version_tool/launch/gait_version_tool.launch.py
  ros2/src/visualization/march_rqt_input_device/launch/input_device.launch.py
  ros2/src/visualization/march_rqt_note_taker/launch/note_taker.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
Due: none

Remove gait_selection launch argument
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: none

Add launch file for airgaiting
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: none

Adding required files for actuating linear joint with odrive
  ros1/src/hardware/interface/march_hardware/config/linear_joint.json
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_linear/controllers.yaml
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
Due: noetic:clang_tidy

Change gitlab ci because pipeline fails
  .gitlab-ci.yml
  Dockerfile
Due: container:build

Remove failed attempt to filter in downsample().
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
