Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Slope up with steep not perfectly working.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Final slope up gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Stair gaits checked.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_undeep.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Continue work
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Finalize recursive region grower method
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Avoid printing old results in the parameter determiner
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Send parameters to the 0 0 0 location
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Initialize gait parameters and only over write when relevant, only output in hull finden when process is successful
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Ensure the right values are used and use the ramp down implementation
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typos
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add forgotten breaks
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typos
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Increase max max points per region
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix min and max values of the ramp parameters
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Y component of direction vector should be 0
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Improve ramp parameter values
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Add debug statements
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Improve debug statement
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add ramp up to airgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/ramp_door_slope_up.gait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Side step of MIV.
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Side step new version. Bigger than MIV.
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Left side step large, v1 is MVI and v2 is MIV.
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Large side steps.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/side_step_right.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Side step finalsss hype.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/side_step_left.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left_small/left_open/MVI_sidestepleftsmall_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left_small/left_open/MVI_sidestepleftsmall_leftopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left_small/right_close/MVI_sidestepleftsmall_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left_small/right_close/MVI_sidestepleftsmall_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left_small/side_step_left_small.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right_small/left_close/MVI_sidesteprightsmall_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right_small/left_close/MVI_sidesteprightsmall_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right_small/right_open/MVI_sidesteprightsmall_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right_small/right_open/MVI_sidesteprightsmall_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right_small/side_step_right_small.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add the ramp up gaits to the airgait directory
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_close/MVI_ramp_up_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_close/MVI_ramp_up_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_open/MVI_ramp_up_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_open/MVI_ramp_up_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_swing/MVI_ramp_up_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_swing/MVI_ramp_up_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_close/MVI_ramp_up_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_close/MVI_ramp_up_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_open/MVI_ramp_up_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_open/MVI_ramp_up_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_swing/MVI_ramp_up_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_swing/MVI_ramp_up_rightswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use new standing position
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/training-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Rename entire gait ramp up
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_ramp_up_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_ramp_up_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_ramp_up_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_ramp_up_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_ramp_up_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_ramp_up_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/ramp_up.gait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_ramp_up_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_ramp_up_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_ramp_up_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_ramp_up_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_ramp_up_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_ramp_up_rightswing_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix typo
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/ramp_up.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix descriptions
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_ramp_up_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_ramp_up_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_ramp_up_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_ramp_up_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_ramp_up_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_ramp_up_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_ramp_up_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_ramp_up_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_ramp_up_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_ramp_up_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_ramp_up_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_ramp_up_rightswing_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Renamed the files, added right start and end position and stet them to the right files.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_small_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidesteplefts_leftopen_small_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_small_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_small_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left_small/side_step_left_small.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_small_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_small_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_small_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_small_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right_small/side_step_right_small.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add gait to ipd
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add stairs up gait to airgait directory
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/stairs_up.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix version names
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_rampup_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_close/MVI_rampup_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_rampup_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_open/MVI_rampup_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_rampup_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/left_swing/MVI_rampup_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_rampup_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_close/MVI_rampup_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_rampup_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_open/MVI_rampup_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_rampup_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up/right_swing/MVI_rampup_rightswing_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix default yaml
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix yaml for real
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix typoe
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_small_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
