Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Fix out of range foot position not caucht in inverse kinemaitcs
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/foot.py
Due: none

Deleted dependency on march_utility in package.xml. Commented out some lines from controller.
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  ros2/src/gaits/march_gait_selection/package.xml
Due: container:build, noetic:clang_tidy

Deleted script from this branch. It has been moved to the NAS
  ros1/src/control/march_joint_inertia_controller/scripts/inertiaPredictionPlot.py
Due: none

MPC Tweaks
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive_motor.cpp
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: noetic:clang_tidy

Add first iteration of the new flat ramp up gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_flat_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_flat_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/training-v/ramp_door_slope_up/left_close/MV_RD_slopeup_flat_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/training-v/ramp_door_slope_up/left_open/MV_RD_slopeup_flat_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/training-v/ramp_door_slope_up/right_close/MV_RD_slopeup_flat_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/training-v/ramp_door_slope_up/right_open/MV_RD_slopeup_flat_rightopen_v1.subgait
Due: none

Add new versions to the default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: none

Slow the gait down so that it can be executed.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_flat_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MV_RD_slopeup_flat_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_flat_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_flat_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MV_RD_slopeup_flat_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_flat_rightswing_v1.subgait
Due: none

Add gaits for testing
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
Due: none

Catch ValueError execption.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Add traceback for the caught errors
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Add traceback to the requirements.pip
  requirements.pip
Due: none

Remove ros_testing dependency
  ros2/src/safety/march_safety/package.xml
Due: container:build

Readd ros_testing in package.xml
  ros2/src/safety/march_safety/package.xml
Due: container:build

Move find_package statement in Cmake
  ros2/src/safety/march_safety/CMakeLists.txt
Due: none

Remove need for the same number of setpoints at each joint.
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Update dockerfile
  Dockerfile
  ros2/src/safety/march_safety/package.xml
Due: container:build

Work on a prepare subgait method
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Changes made during testing 02022021
  ros1/src/control/march_joint_inertia_controller/config/joint_inertia_controller.yaml
  ros1/src/control/march_joint_inertia_controller/src/inertia_estimator.cpp
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_rotational/controllers.yaml
  ros2/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/example.subgait
  ros2/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/sysID.subgait
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: noetic:clang_tidy

Finalize function for preparing subgaits for interpolation.
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Adding ModelPredictiveController class with test functions
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding missing semi-colon
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding initSolver() code and skeleton controller() function
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding code that calls the controller function
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding new urdf file for mpc testing
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational_mpc.yaml
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: noetic:clang_tidy

Apply 1 suggestion(s) to 1 file(s)
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Changed reference value
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Adding test_joint_rotational robot to mpc controller type
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational.yaml
Due: none

Restoring xacro file and adding some last finishing touches
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: noetic:clang_tidy

Fixing build errors
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

adding skeleton ModelPredictiveController class
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Applying suggestions
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Going from main to an experimental branch of acado-solver
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Due: none

Adding controller function to the mpc class
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Turn off safety controller for rotational joint
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: none

Disabling the safety controller
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: none

Adding easy reference change variable
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding comments about the safety_controller
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: none

Adding state init
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy
