Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Fix all 'argument comment missing for literal'
  ros1/src/hardware/interface/march_hardware/include/march_hardware/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: noetic:clang_tidy

Resolve some double to float conversion warnings
  ros1/src/hardware/interface/march_hardware/include/march_hardware/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: noetic:clang_tidy

Remove identical switch branch in imotioncube state
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
Due: noetic:clang_tidy

Readd newest sw file
  ros1/src/hardware/interface/march_hardware/config/sw_files/left_hip_fe.sw
Due: none

Update static bridge
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Due: none

Fix file name bug
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Remove bad files
  ros1/src/data/march_realsense_test_publisher/config/datasets/curb.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/hoge_opsstap.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/lastige_trap.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/normale_trap.ply
Due: none

Debug
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Continue fixing bugs
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Add debug statements
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Fix typos
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Fix publishing
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Refactor to allow new functionality
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Fix build problems
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/include/utilities/publish_mode_utilities.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Refactor again to more logical structure
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Remove forgotten line
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Format cpp code
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Improve variable name
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Use ros timer
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Add timer to node
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: noetic:clang_tidy

Start fixing buid
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: noetic:clang_tidy

Enable clang-tidy hicpp checks
  .clang-tidy
Due: none

Remove const modifier of autoregression_weights in FakeTemperatureDataNode
  ros1/clang-tidy
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: foxy:clang_tidy

Make autoregression_weights an rvalue parameter in the constructor of FakeTemperatureData
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/FakeTemperatureData.hpp
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: foxy:clang_tidy

Fix violations of hicpp-member-init in ROS2
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/simulation/march_fake_sensor_data/test/FakeTemperatureDataTest.cpp
Due: foxy:clang_tidy

Remove explicit modifier from SafetyHandler implementation
  ros2/src/safety/march_safety/src/safety_handler.cpp
Due: foxy:clang_tidy

Make autoregression_weights an rvalue parameter in the constructor of FakeTemperatureData
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: foxy:clang_tidy

Add explicit to constructor in march_safety SafetyHandler
  ros2/src/safety/march_safety/include/march_safety/safety_handler.hpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
Due: foxy:clang_tidy

Add missing variables in RegionGrower constructor
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Add clang-tidy exception for hicpp-avoid-goto because it is violated in almost every test
  .clang-tidy
Due: none

Ignore positive literals for hicpp-signed-bitwise violations
  .clang-tidy
Due: none

Try to fix clang-tidy hicpp violations in march_realsense_reader
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Use std::optional for uninitalized selected_gait_
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Apply automatic fixes for certain clang-tidy violations
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/mtw.h
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/wireless_master.h
  ros1/src/hardware/drivers/march_temperature_sensor_controller/include/march_temperature_sensor_controller/march_temperature_sensor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/hardware_exception.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/imotioncube_pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/pdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/sdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/actuation_mode.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/pdo_interface.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/power/high_voltage.cpp
  ros1/src/hardware/interface/march_hardware/src/power/power_distribution_board.cpp
  ros1/src/hardware/interface/march_hardware/test/ethercat/imotioncube_pdo_map_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_pdb_state_interface.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_on_off_command.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
Due: noetic:clang_tidy

Fix NOLINT with NOLINTNEXTLINE because NOLINT only works on the same line
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/actuation_mode.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
Due: noetic:clang_tidy

Fix hicpp violations in pdo_map
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/imotioncube_pdo_map.h
  ros1/src/hardware/interface/march_hardware/test/ethercat/imotioncube_pdo_map_test.cpp
Due: noetic:clang_tidy

Try hacky uint32_t cast to avoid hicpp-signed-bitwise violation
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/imotioncube_pdo_map.h
Due: noetic:clang_tidy

Extract error handling to separate function in march_hardware/power/high_voltage.cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/power/high_voltage.h
  ros1/src/hardware/interface/march_hardware/src/power/high_voltage.cpp
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
