Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Fix transistion
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v1.subgait
Due: none

Add NOLINT to rclcpp::Duration because it can be flaky in the pipeline for some reason
  ros2/src/safety/march_safety/src/input_device_safety.cpp
Due: foxy:clang_tidy

Fix another walk small gait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MV_walksmall_rightopen_v1.subgait
Due: none

Fix names and default
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v2.subgait
Due: none

Fix walk large
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/left_swing/MVI_walklarge_leftswing_v2.subgait
Due: none

Fix walk large swing
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_swing/MVI_walklarge_rightswing_v2.subgait
Due: none

Fix walk small end
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_close/MVI_walksmall_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_close/MVI_walksmall_rightclose_v2.subgait
Due: none

Fix starting position of right open
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_open/MVI_walklarge_rightopen_v2.subgait
Due: none

Large xacro refactor, replacing all joints and pressure soles with macros, moving safety to yaml
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
  ros2/src/shared/march_description/urdf/macros/joint.xacro
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros2/src/shared/march_description/urdf/march4.urdf
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_new.urdf
  ros2/src/shared/march_description/urdf/march4_old.urdf
  ros2/src/shared/march_description/urdf/march4_old.xacro
  ros2/src/shared/march_description/urdf/properties/march4_dimensions.yaml
  ros2/src/shared/march_description/urdf/properties/march4_inertia.yaml
  ros2/src/shared/march_description/urdf/properties/march4_joint_limits.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_exoskeleton.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_simulation.yaml
Due: none

Last changes before Christmas break, a start to move dimensions to yaml file and attempt to change collision origin for feet to standard middle
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_new.xacro
  ros2/src/shared/march_description/urdf/march4_old.xacro
Due: none

Fix the safety values for simulation working correctly (imperfect solution)
  ros2/src/shared/march_description/urdf/march4-unsure.xacro
  ros2/src/shared/march_description/urdf/march4.urdf
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_new.urdf
  ros2/src/shared/march_description/urdf/march4_new.xacro
  ros2/src/shared/march_description/urdf/march4_old.urdf
Due: none

Fix launching xacro with configuration argument for different safety values on simulation
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_ros2_mvp.launch
  ros1/src/march_launch/launch/march_ros2_simulation.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: none

Add progress from melodic version
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/macros/rotational_joint.xacro
  ros2/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros2/src/shared/march_description/urdf/march4_old.xacro
Due: none

Pressure sole macro change
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Change to use 1 yaml file
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

SDF frustrations
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
Due: none

Sdf inpsection
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Remove comment
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
Due: none

Minor pressure sole xacro change
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Fix sensor reference
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Fix safety controller problem
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_ros2_mvp.launch
  ros1/src/march_launch/launch/march_ros2_simulation.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/march4-unsure.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/properties/march4.yaml
  ros2/src/shared/march_description/urdf/properties/march4_dimensions.yaml
  ros2/src/shared/march_description/urdf/properties/march4_inertia.yaml
  ros2/src/shared/march_description/urdf/properties/march4_joint_limits.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_exoskeleton.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_simulation.yaml
Due: none

Fix failing test
  ros2/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/properties/march4.yaml
Due: none

Pressure sole macro update
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Add pressure sole heel
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Use new implementation
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Change sensor name
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
Due: none

Try to enable all bugprone checks in .clang-tidy to see the damage
  .clang-tidy
Due: none

Fix some violations of bugprone-narrowing-conversions in march_realsense_reader
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Adjust signature of fillOptionalFootLocationCloud to float,float instead of double,double to prevent narrowing conversion
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
Due: noetic:clang_tidy

Replace unsigned int with signed int in joint_trajectory_mpc because casting from unsigned to signed int is compiler implementation dependent
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Enable StrictMode of bugprone-suspicious-enum-usage
  .clang-tidy
Due: none

Also check implicit misplaced widening casts of bugprone via clang-tidy
  .clang-tidy
Due: none

Fix violations of implicit widening cast in march_acado and march_realsense
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/encoder.cpp
Due: noetic:clang_tidy

Add parameter readout to preprocessor
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Add dynamic reconfiguration to regrion creator
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add .cfg and callback functionality
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader_node.cpp
Due: noetic:clang_tidy

Add dynamic recofigure to parameter determiner
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Clang-format
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader_node.cpp
Due: noetic:clang_tidy

Add dynamic reconfigrue to hull_finder and remove all YAML related parts
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/include/utilities/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
