Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Gaits not perfect.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_undeep_v1.subgait
Due: none

Tryout low deep stairsdown gait.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
Due: none

Add flask to mpc visualization package
  ros2/src/visualization/march_mpc_visualization/package.xml
Due: none

Add Flask
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/__init__.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_streamer.py
Due: none

Got ros and flask running at same time
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/__init__.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: none

Run Flask on seperate thread
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/__init__.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: none

Add new host and add all plottable data
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/visualization/march_mpc_visualization/launch/march_mpc_visualization.launch.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: none

Create ros2 node for mpc visualization
  ros1/src/shared/march_shared_msgs/msg/MpcArray.msg
  ros1/src/shared/march_shared_msgs/msg/MpcDiagnostics.msg
  ros1/src/shared/march_shared_msgs/msg/MpcJoint.msg
  ros1/src/shared/march_shared_msgs/msg/MpcMsg.msg
  ros1/src/shared/march_shared_msgs/msg/MpcStateVectors.msg
  ros1/src/shared/march_shared_msgs/msg/MpcTuning.msg
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/shared/march_shared_msgs/msg/MpcArray.msg
  ros2/src/shared/march_shared_msgs/msg/MpcDiagnostics.msg
  ros2/src/shared/march_shared_msgs/msg/MpcJoint.msg
  ros2/src/shared/march_shared_msgs/msg/MpcMsg.msg
  ros2/src/shared/march_shared_msgs/msg/MpcStateVectors.msg
  ros2/src/shared/march_shared_msgs/msg/MpcTuning.msg
  ros2/src/visualization/march_mpc_visualization/launch/march_mpc_visualization.launch.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/__init__.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
  ros2/src/visualization/march_mpc_visualization/package.xml
  ros2/src/visualization/march_mpc_visualization/resource/march_mpc_visualization
  ros2/src/visualization/march_mpc_visualization/setup.cfg
  ros2/src/visualization/march_mpc_visualization/setup.py
Due: none

Ros 1 add spaces
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
Due: none

Undo msgs changes
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcArray.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcDiagnostics.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcJoint.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcMsg.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcStateVectors.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcArray.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcDiagnostics.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcJoint.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcMsg.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcStateVectors.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: none

Succesful bridge of mpc msg
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_streamer.py
Due: none

First mpc data on host
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/__init__.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: none

Add Flask to riquirements
  requirements.pip
Due: none

Revert ros msgs changes
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
Due: none

Remove comments and obsolete code
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/__init__.py
  ros2/src/visualization/march_mpc_visualization/setup.py
Due: none

Correct Flask rosdep
  ros2/src/visualization/march_mpc_visualization/package.xml
Due: none

Update docker and remove wrong rosdep
  Dockerfile
  ros2/src/visualization/march_mpc_visualization/package.xml
Due: container:build

Renamed v2 to v3.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_deep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_deep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_undeep_v3.subgait
Due: none

Side step of MIV.
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v2.subgait
Due: none

Use multithreaded node
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: noetic:clang_tidy

Remove start functionality
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/include/utilities/publish_mode_utilities.h
  ros1/src/data/march_realsense_test_publisher/include/utilities/realsense_gait_utilities.h
  ros1/src/data/march_realsense_test_publisher/include/utilities/yaml_utilities.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
  ros1/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
  ros2/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
Due: noetic:clang_tidy

Add yaml file to read the configuration from
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Fix build
  ros1/src/data/march_realsense_test_publisher/CMakeLists.txt
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/include/utilities/publish_mode_utilities.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Remove poor datasets
  ros1/src/data/march_realsense_test_publisher/config/datasets/heup-op-trap.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/heup-voor-trap.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/knie-op-trap.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/knie-voor-trap.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp1.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stoel.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stoelstok.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap2.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap3.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap_down3.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap_down4.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap_down_moving.ply
Due: none

Fix transform
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Start at random index
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Rename files and add them to the configuration file
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap2.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap3.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap4.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/trap6.ply
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
Due: none

Remove the test pointcloud
  ros1/src/data/march_realsense_test_publisher/config/datasets/test.ply
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
Due: none

Update Dockerfile
  Dockerfile
Due: container:build

Remove another poor dataset
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp_1.ply
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
Due: none

Make the process call private
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
Due: noetic:clang_tidy

Pass clang
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
Due: noetic:clang_tidy

Pass clang
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: noetic:clang_tidy

Fix Dockerfile
  Dockerfile
Due: container:build

Avoid useless return and make int conversion explicit
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Remove flask-python from rosdep
  Dockerfile
  ros2/src/visualization/march_mpc_visualization/package.xml
Due: container:build

Make processpointcloud a void method
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
Due: noetic:clang_tidy

Add tmux to Dockerfile
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Use fancy rand to please the clang gods
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Side step new version. Bigger than MIV.
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v1.subgait
Due: none

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
