Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Add output parameter to constructor for clang
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Additional changes
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_left_odrive_upper.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/config/march6/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_linear_odrive/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_left_odrive_upper/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_description/CMakeLists.txt
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/exo_test/default.yaml
  ros2/src/gaits/march_gait_files/exo_test/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/exo_test/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_gait_files/test_joint_linear_gaits/default.yaml
  ros2/src/gaits/march_gait_files/test_joint_linear_gaits/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_joint_linear_gaits/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_gait_files/test_left_odrive_upper/default.yaml
  ros2/src/gaits/march_gait_files/test_left_odrive_upper/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_left_odrive_upper/test_joint_gait/test_joint_gait.gait
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_description/urdf/test_joint_linear_odrive.xacro
  ros2/src/shared/march_description/urdf/test_left_odrive_upper.xacro
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Format code
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Nanosec conversion into constant
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove unused modules
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Constructor parameter 'W' is now getting moved to avoid unnecessary copies in model_predictive_controller.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add MPC related messages to march_shared_msgs
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcJoint.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcMsg.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Change acado-solver branch in CMakeLists to allow disconnected exo model
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add MPC controlling tuning parameters to march4.yaml configuration
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march4.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Removing unused qpoases enums in model_predictive_controller.hpp and adding comments to initial state and reference vectors definitions in joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Convert measurements to lists and add last input to json
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Override control period for test rotational joint in Gazebo
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Modify C++ code to utilize new MPC model structure
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add headers and fix indexing of arrays
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Changing acado-solver branch and model
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Trying to get the mpc visualiser to work
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcJoint.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcMsg.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change mpc msgs dir for bridge build purposes
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/MpcArray.msg
  ros1/src/shared/march_shared_msgs/msg/MpcDiagnostics.msg
  ros1/src/shared/march_shared_msgs/msg/MpcJoint.msg
  ros1/src/shared/march_shared_msgs/msg/MpcMsg.msg
  ros1/src/shared/march_shared_msgs/msg/MpcStateVectors.msg
  ros1/src/shared/march_shared_msgs/msg/MpcTuning.msg
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/shared/march_shared_msgs/msg/MpcArray.msg
  ros2/src/shared/march_shared_msgs/msg/MpcDiagnostics.msg
  ros2/src/shared/march_shared_msgs/msg/MpcJoint.msg
  ros2/src/shared/march_shared_msgs/msg/MpcMsg.msg
  ros2/src/shared/march_shared_msgs/msg/MpcStateVectors.msg
  ros2/src/shared/march_shared_msgs/msg/MpcTuning.msg
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add method to get the frame id for the current subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use subgait_name and set the current subgait at start
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add debug
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Stairs down backwards version of the stairsup_v4.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_cybathlon_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Delay home gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Left lower
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_left_odrive_lower.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/march6/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_left_odrive_lower/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_description/CMakeLists.txt
  ros2/prof/march_gait_selection.prof
  ros2/prof/march_robot_information.prof
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_left_odrive_lower/default.yaml
  ros2/src/gaits/march_gait_files/test_left_odrive_lower/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_left_odrive_lower/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_description/urdf/test_left_odrive_lower.xacro
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Stupid slow walking gaits that will never be loved by MOVEMENTgit add .
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Try to find out when the update is called
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Moved the gait files to the airgait directory
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down/left_close/MVI_stairsdown_leftclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down/right_close/MVI_stairsdown_rightclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down/right_open/MVI_stairsdown_rightopen_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down/stairs_down.gait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_down_backwards/stairs_down_backwards.gait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Moved the files to the airgait directory.
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_v4.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v4.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix if statement
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix reading of the foot height and tansform using half
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix using the foot_height
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fixed pipeline, now revert part of changes..
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Make same change to march4 robot and include yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march4.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Update gait parameters with new transformation
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Start adding the foot height parameter
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add the yaml reading to the cmakelist to fix it!
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Read foot height from properties yaml
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix comment
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
