Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Add skeleton ODriveState class
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: noetic:clang_tidy

Add all functions to the ODrive class
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: noetic:clang_tidy

Move UnimplementedException to parent class
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/hardware_exception.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: noetic:clang_tidy

Add createODrive function to hardware builder
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Implement skeleton for ODrive class
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/ethercat/pdo_map_test.cpp
Due: noetic:clang_tidy

Fix vector bugs.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: noetic:clang_tidy

Work in progress.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_hd.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_haa_adpf_hd.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_haa_adpf_hD.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_haa_adpf_hd.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_hd.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_haa_adpf_hd.subgait
Due: none

Use warn_once in gain scheduling node
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/dynamic_pid_reconfigurer.py
Due: none

Add ImcState to bridge_parameters
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Due: none

Try stuff.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: noetic:clang_tidy

Update march_run_ros2 aliases
  doc/getting_started/setup_your_workspace.rst
Due: none

Remove shared pointer to region vector.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Change tolerance values
  ros1/src/hardware/interface/march_hardware_interface/config/march4/controllers.yaml
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
Due: none

Add debug attempt to use camera imu
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/march_launch/launch/march.launch
Due: container:build

Move camera launching to new file
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none

First attempt to add dual camera
  ros1/src/march_launch/launch/march.launch
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Add imu topic parameter
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/march_launch/launch/realsense_camera.launch
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_description/urdf/march4.xacro
Due: noetic:clang_tidy

Fix launch file
  ros2/src/march_launch/launch/march.launch.py
Due: none

Bridge right imu topic
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: none

Improve camera urdf to have imu frame
  ros2/src/shared/march_description/urdf/camera/_d435.urdf.xacro
Due: none

Change topic in realsense reader
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Debug so all steps work, continuing with publishing.
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/utilities/output_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Fix small launch file problem
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none

Remove efault type
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none

Fix small bug in simulation launch file
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: none

Update mar robot state publisher
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Publish a marker array.
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Fix visualization.
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Remove redundant method declaration.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
Due: noetic:clang_tidy

Use boost::shared_ptr for region vector.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Clean up code.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: noetic:clang_tidy

Added a gait for the linear test joint and restructured the test joint gait directories
  ros1/src/march_launch/launch/linear_joint_motorcontrollor_test.launch
  ros2/src/gaits/march_gait_files/lin_test_joint_gait/default.yaml
  ros2/src/gaits/march_gait_files/lin_test_joint_gait/lin_test/lin_test.subgait
  ros2/src/gaits/march_gait_files/lin_test_joint_gait/lin_test_joint_gait.gait
  ros2/src/gaits/march_gait_files/rot_test_joint_gait/default.yaml
  ros2/src/gaits/march_gait_files/rot_test_joint_gait/rot_test/rot_test.subgait
  ros2/src/gaits/march_gait_files/rot_test_joint_gait/rot_test_joint_gait.gait
  ros2/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/test_joint_gait.gait
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: none

Fix rotation of back camera
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
Due: none

Updating odrive serial_number
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
Due: none

Improve loop.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: noetic:clang_tidy

Fix default camera argument required for pointcloud
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none

Final try using normal submodule strategy
  .gitlab-ci.yml
Due: none

Enabled debug visualisation
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy
