Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Add config file to preprocessor
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add all the preprocessing steps to the NormalsPreporocessor.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Test downsampling.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Use boost shared ptr instead of std shared ptr for compatibility with pcl
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Fix typo.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Small bugfix
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Apply style consistently.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Add downsampling to new preprocessor.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add comments and improve readability of normal filter method.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Use lookuptransform and publish cloud.
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Fix method name.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Remove high verbosity
  .gitlab-ci.yml
Due: none

Remove traceback from dockerfile
  Dockerfile
Due: container:build

Remove wrong string from dockerfile
  Dockerfile
Due: container:build

Revert Dockerfile changes from MR 770
  Dockerfile
Due: container:build

Move comments
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
Due: noetic:clang_tidy

Improving indexing in getQMatrix()
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Quality of live improvements for tuning mpc
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
Due: noetic:clang_tidy

Move realsesnse gazebo plugin to libraries folder
  .gitmodules
Due: none

Add robot state publisher to libraries folder
  .gitmodules
Due: none

Add diagnostic updater to libraries folder
  .gitmodules
Due: none

Rename robot-state-publisher to robot_state_publisher
  .gitmodules
Due: none

Add basic preprocessor
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Rebase with main.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add test subgaits.
  ros2/src/gaits/march_gait_files/simulation_only-vi/default.yaml
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/ik_test_multiple_subgaits.gait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_haa.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_knee.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_setpoints.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_short.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_simple.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_velocity.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/forward_swing_haa.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/forward_swing_knee.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/forward_swing_setpoints.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/forward_swing_short.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/forward_swing_simple.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/forward_swing_velocity.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_haa.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_knee.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_setpoints.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_short.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_simple.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_velocity.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/forward_swing_haa.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/forward_swing_knee.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/forward_swing_setpoints.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/forward_swing_short.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/forward_swing_simple.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/forward_swing_velocity.subgait
Due: none

Found the culprit
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Fix subgait durations.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_flat_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MV_RD_slopeup_flat_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_flat_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_flat_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MV_RD_slopeup_flat_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_flat_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_v2.subgait
Due: none

Fix subgaits durations.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_flat_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MV_RD_slopeup_flat_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_flat_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_flat_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MV_RD_slopeup_flat_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_flat_rightswing_v1.subgait
Due: none

Add changed transform
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/march_launch/launch/march.launch
Due: container:build, noetic:clang_tidy

Fix launch argument
  ros1/src/march_launch/launch/march.launch
Due: none

Fix problem with launch argument realsense:=false
  ros1/src/march_launch/launch/march.launch
Due: none

Add eval statement for launching realsense
  ros1/src/march_launch/launch/march.launch
Due: none

Revert "Merge branch '719-add-custom-forks-as-submodules' into 'main'"
  .gitmodules
Due: none

Remove from .gitmodules
  .gitmodules
Due: none

Fix urdf transform.
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: container:build, noetic:clang_tidy

Start work on fixing publisher.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Comment test declarations
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/shared/march_robot_information/setup.py
Due: none
