Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Fix tests again
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_setpoints_gait.py
Due: none

Remove points once they are part of a hull
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Start fixing headers
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix brackets
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Format cpp code.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add .cfg and callback functionality
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader_node.cpp
Due: noetic:clang_tidy

Remove old non urdf transform artefacts
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Add parameter readout to preprocessor
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: noetic:clang_tidy

Start bug fixing.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add warning when early schedule duration is too large
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
Due: none

Add dynamic reconfiguration to regrion creator
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add dynamic recofigure to parameter determiner
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add crop point method
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add dynamic reconfigrue to hull_finder and remove all YAML related parts
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/include/utilities/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Clang-format
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader_node.cpp
Due: noetic:clang_tidy

First attempt at tuning groundgaiting
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/visualization/multiplot_configurations/actual_desired_velocity.xml
Due: none

Increase path and goal tolerances
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
Due: none

Change some parameters
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: none

Add multiplot for velocity
  ros2/src/visualization/multiplot_configurations/actual_desired_velocity.xml
Due: none

Always run clang-tidy, even if C++ files have not been changed
  .gitlab-ci.yml
Due: none

Remove all existing clang-tidy rules
  .clang-tidy
Due: none

Enable clang-tidy in GitLab CI
  .gitlab-ci.yml
Due: none

Disable Python and test stages in GitLab CI
  .gitlab-ci.yml
Due: none

Change header include types in march_safety tests
  ros2/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/error_counter.h
Due: foxy:clang_tidy

Add virtual deconstructors to PDO and SDO interfaces
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/pdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/sdo_interface.h
Due: noetic:clang_tidy

Reorder imports after bracket change
  ros2/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
Due: foxy:clang_tidy

Fix GitLab CI invalid YAML
  .gitlab-ci.yml
Due: none

Replace ros/ros.h with rclcpp/rclcpp.h in ROS 2
  ros2/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/no_temperature_error_test.cpp
Due: foxy:clang_tidy

Ignore src/libraries folder in clang-tidy
  .gitlab-ci.yml
Due: none

Enable portability lint
  .clang-tidy
Due: none

Ignore xsens files in clang-tidy for Noetic
  .gitlab-ci.yml
Due: none

Add missing includes in march_realsense_reader
  ros1/src/data/march_realsense_reader/include/utilities/output_utilities.h
Due: noetic:clang_tidy

Remove old C++ rostest files that are not relevant for ROS 2 anymore because ROS 2 uses Python for integration tests
  ros2/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/error_counter.h
  ros2/src/safety/march_safety/test/rostest/no_temperature_error_test.cpp
Due: foxy:clang_tidy

Add empty implementation to virtual deconstructor in march_hardware PDO and SDO map
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/pdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/sdo_interface.h
Due: noetic:clang_tidy

Use INSTANTIATE_TEST_SUITE_P instead of INSTANTIATE_TEST_CASE_P because the latter is deprecated
  ros1/src/hardware/interface/march_hardware/test/encoder/absolute_encoder_test.cpp
Due: noetic:clang_tidy

Add missing #include <vector> in march_realsense_reader
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
Due: noetic:clang_tidy

Add semicolon after template declaration in linear algebra utility of march_realsense_reader
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
Due: noetic:clang_tidy

Add missing ostream include in power_net_on_off_command.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_on_off_command.h
Due: noetic:clang_tidy

Use gazebo as a system library
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
Due: none

Rename xstypes.h to xsenstypes.h to match clang-tidy filter
  ros1/src/hardware/drivers/march_imu_manager/CMakeLists.txt
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/mtw.h
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/wireless_master.h
  ros1/src/hardware/drivers/march_imu_manager/lib/include/xsens/xstypes_include.h
  ros1/src/hardware/drivers/march_imu_manager/lib/include/xsenstypes.h
  ros1/src/hardware/drivers/march_imu_manager/lib/libxsenstypes.so
  ros1/src/hardware/drivers/march_imu_manager/lib/libxsenstypes.so.4
  ros1/src/hardware/drivers/march_imu_manager/lib/libxsenstypes.so.4.6.0
  ros1/src/hardware/drivers/march_imu_manager/lib/libxstypes.so
  ros1/src/hardware/drivers/march_imu_manager/lib/libxstypes.so.4
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
