Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Fix yaml_utilities.
  ros1/src/data/march_realsense_reader/include/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/yaml_utilities.cpp
Due: noetic:clang_tidy

Fix yaml_utilities.
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Fix yaml thing and typo.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Fix yaml and typo.
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Remove a bug in the yaml_utilities.
  ros1/src/data/march_realsense_reader/include/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Remove unused includes.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Remove debug statement and add capitalization.
  ros1/src/data/march_realsense_reader/include/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Apply 1 suggestion(s) to 1 file(s)
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Improve code style quality.
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add first versions of static bridge with services and topics to bridge
  ros1/src/bridge/march_bridge_parameters/CMakeLists.txt
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/bridge/march_bridge_parameters/package.xml
  ros1/src/march_launch/launch/march.launch
Due: container:build

Avoid having to look up parameters from the yaml file when not necessary and some other small time improvements.
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: none

Improve name of the lengths from urdf file function
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: none

Run black . .
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Reduce code duplication.
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: none

Parameter estimation edits
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding timing and status variables and functionality
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Adding controllerDiagnosis function
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Add note about reaching Project MARCH via paper mail
  README.md
Due: none

Add GPLv3 license and additional terms
  LICENSE-ADDITIONAL-TERMS.md
  LICENSE.md
  README.md
Due: none

Add recursive submodule strategy to .yml file
  .gitlab-ci.yml
Due: none

Reattempt adding submodule strategy to pipeline
  .gitlab-ci.yml
Due: none

Add git checkout strategy
  .gitlab-ci.yml
Due: none

Use normal gitsubmodule strategy
  .gitlab-ci.yml
Due: none

Try none
  .gitlab-ci.yml
Due: none

Retry normal
  .gitlab-ci.yml
Due: none

Make submodule paths relative
  .gitlab-ci.yml
  .gitmodules
Due: none

Add ssh install
  Dockerfile
Due: container:build

Revert some changes
  .gitlab-ci.yml
  Dockerfile
Due: container:build

Add ssh back to DockerFile
  Dockerfile
Due: container:build

Final try using normal submodule strategy
  .gitlab-ci.yml
Due: none

Set strategy as recursive
  .gitlab-ci.yml
Due: none

Apply changes that work with updated JointTrajectoryController
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational.yaml
Due: noetic:clang_tidy

Update joint inertia controller
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: noetic:clang_tidy

Fix pipeline
  .gitmodules
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: noetic:clang_tidy

Small fixes
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add todo comment
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Refactor service type to return gait parameters and create empty plane finder and region creator
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/plane_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_gait_utilities.h
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/plane_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: container:build, noetic:clang_tidy

Add service and messages to ros2
  ros1/src/data/march_realsense_reader/include/utilities/realsense_gait_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros2/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: noetic:clang_tidy

Finish adding ParameterDeterminer class
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_gait_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/plane_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
