Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Try something.
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/utilities/linear_algebra_utilities.cpp
Due: noetic:clang_tidy

Revert output type to template.
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/utilities/linear_algebra_utilities.cpp
Due: noetic:clang_tidy

Seriously refactor both motorcontroller state children
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/motion_error.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/motor_controller_error.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/error/motion_error.cpp
  ros1/src/hardware/interface/march_hardware/src/error/motor_controller_error.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/error/motion_error_test.cpp
  ros1/src/hardware/interface/march_hardware/test/error/motor_controller_error_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_motorcontroller_state.h
  ros1/src/hardware/interface/march_hardware_builder/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Use unique_ptr instead of shared_ptr
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/error/motor_controller_error.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Integrate new ODrive errors with existing error code
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/absolute_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/error_type.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/motor_controller_error.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/incremental_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/error/error_type.cpp
  ros1/src/hardware/interface/march_hardware/src/error/motor_controller_error.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/ethercat_master.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Split PDO map into different files
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/imotioncube_pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/odrive_pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/imotioncube_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/ethercat/imotioncube_pdo_map_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
Due: noetic:clang_tidy

Use std::optional for encoders where applicable
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/error_type.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/robots/march4.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Revert some of the std::optional changes
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
Due: noetic:clang_tidy

Add safety constaints in simulation
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
Due: none

Try to update SDG and balance gaits according to new gait interface
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: none

Steep slope up version of MVI with HAA and ADPF movements
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v1.subgait
Due: none

Updating warning message
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Update running reference assigning
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Improving setReference()
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Steep slope down gait files and steep slope up and down of MVI set as default
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_steep_v1.subgait
Due: none

Slope down flar ramp subgait files
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v1.subgait
Due: none

Use different approach and fix all setting of setpoint problems.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
Due: none

Fix hardware builder and tests
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware_builder/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/robots/march4.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/imc_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/motor_controller_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_correct.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_correct_not_actuated.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_correct_position_mode.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_no_actuate.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_no_temperature_ges.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/imotioncube_correct.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/no_slave_index.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/no_type.yaml
Due: noetic:clang_tidy

Use webkit as base style
  .clang-format
  .clang-format-ignore
Due: none

Subgaits for the high walking pattern.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_high_v1.subgait
Due: none

Add TODO in code
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: none

Make groundgaiting work
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: none

Stop button only allows press once
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: none

Fix version names.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_flat_v1.subgait
Due: none

Add clang-format style based on WebKit template
  .clang-format
Due: none

Change stage to Lint Code
  .gitlab-ci.yml
Due: none

Add clang-format install to dockerfile
  Dockerfile
Due: container:build

Add ssh and clang-format to generate docker file script
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Sort package list before outputting
  .scripts/generate_dockerfile.sh
  .scripts/package_list.sh
Due: none

Add IMPORTANT to header in Dockerfile
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Allow the clang_format stage to fail
  .gitlab-ci.yml
Due: none

Add default 3.0s start delay
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: none

Make dummy change to Dockerfile
  Dockerfile
Due: container:build

Fix setting new obstacle size
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Change random string to time string
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Format code after linting in pipeline
  .gitlab-ci.yml
Due: none

Add run-clang-format python script
  .clang-format-ignore
  .gitlab-ci.yml
  run-clang-format.py
Due: none

Resolve MR comments
  .gitlab-ci.yml
  .scripts/run-clang-format.py
  pyproject.toml
Due: none

Make C++ format into a single stage
  .gitlab-ci.yml
Due: none

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
