Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Let black make changes
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Fix heel to heel distance text.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Position read from odrive changed to encoder.shadow_counts
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
Due: noetic:clang_tidy

Position read from odrive changed to encoder shadow counts
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
Due: noetic:clang_tidy

Change way of retrieving input, use the version_tool as inspiration.
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_pop_up.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_pop_up.py
Due: none

Fix capitalization.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_pop_up.py
Due: none

Change elif to if.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Improve code quality.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_pop_up.py
Due: none

Fix capitalization in pop up
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_pop_up.ui
Due: none

Fix double input limits velocity.
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_pop_up.ui
Due: none

Fix opened directory when importing gaits.
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Removing current reference system
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/references/sin.csv
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

WIP reference system
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: noetic:clang_tidy

Remove redundant 'required' launch argument
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
Due: none

Remove Safety folder
  ros1/src/safety/march_safety/CMakeLists.txt
  ros1/src/safety/march_safety/include/march_safety/input_device_safety.h
  ros1/src/safety/march_safety/include/march_safety/safety_handler.h
  ros1/src/safety/march_safety/include/march_safety/safety_type.h
  ros1/src/safety/march_safety/include/march_safety/temperature_safety.h
  ros1/src/safety/march_safety/launch/march_safety.launch
  ros1/src/safety/march_safety/launch/safety_settings.yaml
  ros1/src/safety/march_safety/package.xml
  ros1/src/safety/march_safety/sound/fatal.wav
  ros1/src/safety/march_safety/sound/non_fatal.wav
  ros1/src/safety/march_safety/src/input_device_safety.cpp
  ros1/src/safety/march_safety/src/safety_handler.cpp
  ros1/src/safety/march_safety/src/safety_node.cpp
  ros1/src/safety/march_safety/src/temperature_safety.cpp
  ros1/src/safety/march_safety/test/launch/march_safety_connection_lost.test
  ros1/src/safety/march_safety/test/launch/march_safety_connection_never_started.test
  ros1/src/safety/march_safety/test/launch/march_safety_connection_not_lost.test
  ros1/src/safety/march_safety/test/launch/march_safety_temperature.test
  ros1/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros1/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros1/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
  ros1/src/safety/march_safety/test/rostest/error_counter.h
  ros1/src/safety/march_safety/test/rostest/no_temperature_error_test.cpp
Due: container:build, noetic:clang_tidy

Adding new reference system
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Remove safety from ros1 launch file
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/package.xml
Due: container:build

Set the new ADPF_HAA gait as default
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: none

Creating MPC test branch
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: noetic:clang_tidy

Convert empty GG subgait file
  ros1/src/gaits/march_rqt_gait_generator/resource/empty_gait/empty_subgait/empty_subgait.subgait
Due: none

Convert GG test subgait files
  ros1/src/gaits/march_rqt_gait_generator/test/resources/empty_gait/empty_subgait/empty_subgait.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/left_close/MIV_final.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v1.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v2.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/left_swing/MIV_final.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v1.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_close/MIV_final.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v1.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2_seven_joints.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_open/MIV_final.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v1.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v2.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_swing/MIV_final.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v1.subgait
Due: none

Fix subgait file conversion errors
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  ros1/src/gaits/march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
Due: none

First try at CustomDuration class
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
  ros2/src/shared/march_utility/test/joint_trajectory_test.py
  ros2/src/shared/march_utility/test/resources/convert_subgait_files.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: none

Solve some flake issues in duration.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
Due: none

Fix tests in all packages
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
  ros2/src/shared/march_utility/test/resources/convert_subgait_files.py
  ros2/src/shared/march_utility/test/utilities/duration_test.py
Due: none

Clean up code
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
  ros2/src/shared/march_utility/test/joint_trajectory_test.py
  ros2/src/shared/march_utility/test/resources/convert_subgait_files.py
  ros2/src/shared/march_utility/test/setpoint_test.py
  ros2/src/shared/march_utility/test/subgait_test.py
  ros2/src/shared/march_utility/test/utilities/duration_test.py
Due: none

Rename CustomDuration to Duration
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
  ros2/src/shared/march_utility/test/joint_trajectory_test.py
  ros2/src/shared/march_utility/test/setpoint_test.py
  ros2/src/shared/march_utility/test/subgait_test.py
  ros2/src/shared/march_utility/test/utilities/duration_test.py
Due: none

Make gait generator compatible with new subgait files
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
Due: none

Fix all tests
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
  ros2/src/shared/march_utility/test/resources/convert_subgait_files.py
  ros2/src/shared/march_utility/test/setpoint_test.py
  ros2/src/shared/march_utility/test/subgait_test.py
Due: none

Remove script for converting subgait files
  ros2/src/shared/march_utility/test/resources/convert_subgait_files.py
Due: none

Use only CustomDuration in march_utility
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
Due: none

Remove constants from different python files
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Restoring commented line
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Removing mset
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Remove redundant Use default Y and add comment explaining conversion
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_pop_up.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_pop_up.py
Due: none

Adding state init
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Fix not thrown errors
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/foot.py
Due: none
