Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Format code
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix launch argument
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/launch/march.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Set area debug to false by dfault
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Add comments to area debug method
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add flake8-expression-complexity
  Dockerfile
  ros1/src/gaits/march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/utilities/utility_functions.py
  ros1/src/shared/march_shared_classes/test/gait_test.py
  ros2/src/shared/march_utility/test/gait_test.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: container:build, flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Fix tests
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/calculation_setpoint.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Run formatter
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Reset march6.yaml actuating joints
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix problem when groundgaiting
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_description/urdf/macros/configurable_joint.xacro
  ros2/src/shared/march_utility/march_utility/gait/calculation_setpoint.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Move script to march_launch and first attempt to fix hardware
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/CMakeLists.txt
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros1/src/simulation/march_simulation/CMakeLists.txt
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix working with part of joint in simulation
  ros1/src/march_launch/launch/march.launch
  ros1/src/simulation/march_simulation/CMakeLists.txt
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_files/minimal/default.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_description/urdf/macros/configurable_joint.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/calculation_setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Small fixes from MR comments
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Restore minimal default.yaml
  ros2/src/gaits/march_gait_files/minimal/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Make all joints available as default
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix test
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Rename moving to actuating
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/shared/march_description/urdf/macros/configurable_joint.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add test for hardware
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/motor_controller_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/test_joint_rotational_remove_fixed_joints.yaml
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Split in different functions
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/motor_controller_builder_test.cpp
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Sort actuating_joints alphabetically
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format code
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add better debugging for test and small fix
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use set for comparison
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change logging statements
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Flake8 small changes
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add flake8-pie
  .flake8
  Dockerfile
  ros1/src/data/march_data_collector/src/march_data_collector/com_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/data/march_data_collector/src/march_data_collector/inverted_pendulum.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_table_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_view.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/feet_state.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/foot.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/gait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/joint_trajectory.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/limits.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait_graph.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/utilities/vector_3d.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/state_machine_input.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/limits.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait_graph.py
  ros2/src/shared/march_utility/march_utility/utilities/vector_3d.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_note_taker/march_rqt_note_taker/notes_widget.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
Due: container:build, flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add flake8-print
  Dockerfile
Due: container:build

Add flake8-printf-formatting
  Dockerfile
Due: container:build

Add flake8-rst-docstrings
  .flake8
  Dockerfile
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: container:build, flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add flake8-string-format
  Dockerfile
Due: container:build

Add flake8-todos
  Dockerfile
Due: container:build

Add walk gaits with more hip flexion
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v5.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add pep8-naming
  Dockerfile
Due: container:build

Add pylint
  Dockerfile
Due: container:build

Fix narrowing conversions and uninitialized variable
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Run black to fix pipeline
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Clean up code:
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add setting of state
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/motor_controller_error.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/odrive_pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros2/src/march_launch/launch/march.launch.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Flip axes of right upper
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Added linear joint gaits. Added endurance test gait
  ros1/src/hardware/interface/march_hardware/config/linear_joint.json
  ros1/src/hardware/interface/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_linear/controllers.yaml
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/endurance/default.yaml
  ros2/src/gaits/march_gait_files/endurance/endurance_gait/endurance.gait
  ros2/src/gaits/march_gait_files/endurance/endurance_gait/endurance_subgait/endurance_rotational_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_1/linear_sine_subgait_1/MVI_linear_sine_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_2/linear_sine_subgait_2/MVI_linear_sine_subgait_v2.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_3/linear_sine_subgait_3/MVI_linear_sine_subgait_v3.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait_4/linear_sine_subgait_4/MVI_linear_sine_subgait_v4.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_testjoint_ankle_walk_gait/linear_testjoint_ankle_walk_subgait/MVI_linear_ankle_walk_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_testjoint_hip_walk_gait/linear_testjoint_hip_walk_subgait/MVI_linear_hip_walk_subgait_v1.subgait
  ros2/src/visualization/march_rqt_input_device/config/test_joint.json
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
