Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Add old symbolic links to xsens types shared object to avoid build errors.
  ros1/src/hardware/drivers/march_imu_manager/lib/libxstypes.so
  ros1/src/hardware/drivers/march_imu_manager/lib/libxstypes.so.4
  ros1/src/hardware/drivers/march_imu_manager/lib/libxstypes.so.4.6.0
Due: none

Add missing ros/assert and ostream headers in power_net_type.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_type.h
Due: noetic:clang_tidy

Remove blank lines in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Only run clang-tidy when a C++ related file has been changed
  .gitlab-ci.yml
Due: none

Explicitly include ModelCoefficients in linear_algebra_utilities to fix failing clang-tidy
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
Due: noetic:clang_tidy

Also run clang-tidy stage if .clang-tidy configuration file has changed
  .gitlab-ci.yml
Due: none

Enable bugprone-argument-comment clang-tidy check
  .clang-tidy
Due: none

Fix bugprone-argument-comment clang-tidy violations in foxy
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/UniformDistribution.hpp
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
  ros2/src/simulation/march_fake_sensor_data/test/FakeTemperatureDataTest.cpp
  ros2/src/simulation/march_fake_sensor_data/test/UniformDistributionTest.cpp
Due: foxy:clang_tidy

Fix missed bugprone-argument-comment violations
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_absolute_encoder.h
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_slave.h
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_temperature_ges.h
  ros2/src/safety/march_safety/src/input_device_safety.cpp
Due: noetic:clang_tidy, foxy:clang_tidy

Add new sw file for left hip
  ros1/src/hardware/interface/march_hardware/config/sw_files/left_hip_fe.sw
Due: none

Add list of possible bugprone-assert-side-effect.AssertMacros to .clang-tidy
  .clang-tidy
Due: none

Set control mode to torque in the sw file for left hip
  ros1/src/hardware/interface/march_hardware/config/sw_files/left_hip_fe.sw
Due: none

Only run flake8 stage when a Python related file has changed
  .gitlab-ci.yml
Due: none

Treat non-constant functions as if they produce side effects in bugprone-assert-side-effect
  .clang-tidy
Due: none

Try to enable all bugprone checks in .clang-tidy to see the damage
  .clang-tidy
Due: none

Set same constraints as in simulation
  ros1/src/hardware/interface/march_hardware_interface/config/march4/controllers.yaml
Due: none

Add shared msgs and assigned message values
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/CHullFinder.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/DistanceFilter.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/Downsampling.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/NormalEstimation.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/NormalFilter.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/ParameterDeterminer.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/PointCloudParameters.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/Preprocessor.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/RegionCreator.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/RegionGrowing.msg
  ros1/src/shared/march_shared_msgs/msg/pointcloud_msgs/Stairs.msg
Due: noetic:clang_tidy

Set goal time to 0.1
  ros1/src/hardware/interface/march_hardware_interface/config/march4/controllers.yaml
Due: none

Add cropCloudToHullVectorUnique method.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add methods to header and format code
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix build problems
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Acutally use the method.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix of adding points
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix bugs
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Remove unused posittion
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: none

Fix gait problems
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: none

Fix training gait.
  ros2/src/gaits/march_gait_files/training-v/sofa_stand/prepare_stand_up/MIV_final.subgait
Due: none

Fix end position of stand gait.
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
Due: none

Run the code formatter
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Make use of new crop method
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Explain why there is a difference between the ramp and the stairs gait
  doc/march_packages/march_realsense_reader.rst
Due: none

Single line change to see if merged pipelines work as expected
  .gitlab-ci.yml
Due: none

Set default camera output to log
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none

Also suppress camera_back
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none

Add comment for camera output
  ros1/src/march_launch/launch/realsense_camera.launch
Due: none
