Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Replace C-style array with std::array in march_hardware/ethercat
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/ethercat_master.h
Due: noetic:clang_tidy

Extract error handling to separate function in march_hardware/power/low_voltage.cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/power/low_voltage.h
  ros1/src/hardware/interface/march_hardware/src/power/low_voltage.cpp
Due: noetic:clang_tidy

Replace signed bitwise operations in march_hardware/imotioncube with unsigned operations
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
Due: noetic:clang_tidy

Add NOLINT to ROS macro inline assembly because we do not control it
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_type.h
Due: noetic:clang_tidy

Use std::array instead of C-style array in march_hardware/pressure_sole
  ros1/src/hardware/interface/march_hardware/include/march_hardware/pressure_sole/pressure_sole.h
  ros1/src/hardware/interface/march_hardware/src/pressure_sole/pressure_sole.cpp
Due: noetic:clang_tidy

Use unsigned integers for bitshifts in march_hardware/src/power
  ros1/src/hardware/interface/march_hardware/src/power/high_voltage.cpp
  ros1/src/hardware/interface/march_hardware/src/power/low_voltage.cpp
Due: noetic:clang_tidy

Fix clang-tidy hicpp violations in march_imu_manager
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/mtw.h
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/wireless_master.h
  ros1/src/hardware/drivers/march_imu_manager/test/wireless_master_test.cpp
Due: noetic:clang_tidy

Improve comment on NOLINT of hicpp-explicit-conversions in AllowedRobot
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
Due: noetic:clang_tidy

Fix signed bitwise operation in march_hardware/imotioncube
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
Due: noetic:clang_tidy

Mark WirelessMaster class in march_imu_manager as final
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/wireless_master.h
Due: noetic:clang_tidy

Initialize node with default values in march_fake_sensor_data test
  ros2/src/simulation/march_fake_sensor_data/test/FakeTemperatureDataTest.cpp
Due: foxy:clang_tidy

Remove accidentally added clang-tidy script
  ros1/clang-tidy
Due: none

Initialize non-initialize array in march_hardware/pressure_sole
  ros1/src/hardware/interface/march_hardware/src/pressure_sole/pressure_sole.cpp
Due: noetic:clang_tidy

Format cpp
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: noetic:clang_tidy

Remove override keyword in absolute_encoder.h because it is already final
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/absolute_encoder.h
Due: noetic:clang_tidy

Fix hicpp violations from odrive refactor
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/hardware_exception.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros2/src/safety/march_safety/CMakeLists.txt
  ros2/src/safety/march_safety/include/march_safety/temperature_safety.hpp
Due: noetic:clang_tidy, foxy:clang_tidy

Add start and next functionality
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: noetic:clang_tidy

Fix build
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Fix next pointcloud
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Add slide show publisher
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
Due: noetic:clang_tidy

Fix build
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Remove slideshow functionality
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/include/utilities/publish_mode_utilities.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher_node.cpp
  ros1/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
Due: noetic:clang_tidy

Remove slideshow in ros2 as well
  ros2/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
Due: none

Set branch name to MR source if it is set by GitLab
  .gitlab-ci.yml
Due: none

Try to use different image variable for merge_request pipelines
  .gitlab-ci.yml
Due: none

Run test and build stages iff they folders have been changed
  .gitlab-ci.yml
Due: none

Use refs keyword in only to run compared to the based of the branch instead of just the latest commit
  .gitlab-ci.yml
Due: none

Run build stages if .clang-tidy has changed because clang-tidy depends on build stage in CI
  .gitlab-ci.yml
Due: none

Add extra wildcard to see if correct stages of pipeline run
  .gitlab-ci.yml
Due: none

Override jobs dependencies for MR pipelines
  .gitlab-ci.yml
Due: none

Create image tags based on different variables depending if it is a MR pipeline or not
  .gitlab-ci.yml
Due: none

Also run the tag stage for merge requests
  .gitlab-ci.yml
Due: none

Use auto in iterator to fix clang-tidy error in main
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Remove default image tag
  .gitlab-ci.yml
Due: none

Large side steps.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/left_close/MVI_sidestepright_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/right_open/MVI_sidestepright_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_right/side_step_right.gait
Due: none

Add ifname as launch argument
  ros1/src/hardware/interface/march_hardware/check/slave_count.cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/ethercat_master.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/march_robot.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/ethercat_master.cpp
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march3.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/march4.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/pdb.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/pressure_soles.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/launch/march.launch
Due: noetic:clang_tidy

Add more documentation to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Remove debug statement
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Adjust container:build stage to use only instead of if for consistency
  .gitlab-ci.yml
Due: none

Changed CRC value back to original firmware value. Changed config json file back to original firmware commands
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/config/linear_joint.json
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_endpoint.h
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait/sine_subgait/MVI_linear_sine_subgait_v1.subgait
Due: noetic:clang_tidy
