Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typo
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Do not change realsense_test_publisher
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Let recursive method use success variables
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use different variables for in and de crease of tolerance
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove magic numbers
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Start using points and normals vector over index vectors
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Finalize usage of points and normals vectors over index vectors in region grower and hull finder
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Also use the point and normal vectors in the reader
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix build
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Stop when initial recursive step has failed and valid sizes for normal step
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add debug visualization for recursive grower
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix buid
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Disable arduino_master by default when launching the serial connection
  ros1/src/march_launch/launch/serial_connection.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Send the received menu state over serial to the specified host and port
  ros2/src/hardware/interface/march_smartglasses_bridge/march_smartglasses_bridge/bridge.py
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update how to add a parameter
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix parameters and use doubles for the tolerance
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Make smoothness threshold a double too for the start
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add launch file for march_smartglasses_bridge
  ros2/src/hardware/interface/march_smartglasses_bridge/launch/smartglasses_bridge.launch.py
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/package.xml
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add missing packages for rosserial
  ros1/src/march_launch/package.xml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Add missing rosserial packages to Dockerfile
  Dockerfile
Due: container:build

Make smartglass hostname and port adjustable via parameters
  ros2/src/hardware/interface/march_smartglasses_bridge/launch/smartglasses_bridge.launch.py
  ros2/src/hardware/interface/march_smartglasses_bridge/march_smartglasses_bridge/bridge.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Check for too small tolerance
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add README that documents launch arguments to smartglasses_bridge
  ros2/src/hardware/interface/march_smartglasses_bridge/README.md
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add changes to let ODrive actuatue
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/absolute_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/odrive_pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_rotational_odrive/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_description/CMakeLists.txt
  ros2/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/shared/march_description/urdf/test_joint_rotational_odrive.xacro
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix parameter bug
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Added sine gaits and partial walk gaits to tune rotational test joint
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_rotational/controllers.yaml
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/default.yaml
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait/rotational_sine_gait.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_1/rotational_sine_gait_1.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_1/sine_subgait_1/MVI_rotational_sine_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_2/rotational_sine_gait_2.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_2/sine_subgait_2/MVI_rotational_sine_subgait_v2.subgait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_3/rotational_sine_gait_3.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_3/sine_subgait_3/MVI_rotational_sine_subgait_v3.subgait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_4/rotational_sine_gait_4.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait_4/sine_subgait_4/MVI_rotational_sine_subgait_v4.subgait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_testjoint_hip_walk_gait/rotational_testjoint_hip_walk_gait.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_testjoint_hip_walk_gait/rotational_testjoint_hip_walk_subgait/MVI_rotational_hip_walk_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_testjoint_knee_walk_gait/rotational_testjoint_knee_walk_gait.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_testjoint_knee_walk_gait/rotational_testjoint_knee_walk_subgait/MVI_rotational_knee_walk_subgait_v1.subgait
  ros2/src/visualization/march_rqt_input_device/config/test_joint.json
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Fix bug and remove debug messages
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Adding rotational_trapezoidal gait to the gait_files
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/default.yaml
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_trapezoidal/rotational_trapezoidal.gait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_trapezoidal/trapezoidal_slope1_amp0349_period05/MVI_trapezoidal_slope1_amp0349_period05.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix vector pointer bug
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove debug statements
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Create simple script for republishing pointclouds when using simulation
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/march_launch/launch/realsense_camera.launch
  ros1/src/simulation/march_simulation/CMakeLists.txt
  ros1/src/simulation/march_simulation/scripts/republish_pointclouds.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add new pointclouds
  ros1/src/data/march_realsense_test_publisher/config/datasets/chair1.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/chair_high.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/chair_low.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/chair_medium.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/chair_wooden_high.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/chair_wooden_low.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/chair_wooden_medium.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp_mini.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp_mini2.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/single_step1.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/single_step_chair_background.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/single_step_high_undeep.ply
  ros1/src/march_launch/launch/march.launch
  ros2/src/shared/march_description/launch/march_description.launch.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Update tuning
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fixing test subgaits
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_testjoint_hip_walk_gait/rotational_testjoint_hip_walk_subgait/MVI_rotational_hip_walk_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_testjoint_knee_walk_gait/rotational_testjoint_knee_walk_subgait/MVI_rotational_knee_walk_subgait_v1.subgait
  ros2/src/visualization/march_rqt_input_device/config/test_joint.json
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Clean up debug output
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add number of recursive calls to debug output
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Make cut off point for recursive call dynamic
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
