Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy

Improve 2 comments
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix deadlock with new callback group
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add copy of versions to stairs up for working with gait version tool
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_undeep.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change name of selected gait to realsense category
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_category_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_gait_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format code
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Implement Bas' suggestions
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update gaits on main, format code
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Slope down checked on peaks and end positions.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_last_step/left_close/MVI_RD_laststep_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_last_step/left_close/MVI_RD_laststep_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_last_step/right_open/MVI_RD_laststep_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_last_step/right_open/MVI_RD_laststep_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change bug with old parameter name
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Changed HAA movements.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Reformat black
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Enable cppcoreguidelines clang-tidy checks
  .clang-tidy
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Default new.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix parameter names
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Changed names and changed ankle positions.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_high_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_high_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Amazing bug fix to fix bridge
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Checked sit and stand and changed ankle and hip positions.
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Disable false positive or overexcited clang-tidy checks related to cppcoreguidelines
  .clang-tidy
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Fix undefined variable violation in march_safety in foxy
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
Due: clang_format, clang_format for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Fix bridge problem
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix rosbag recording
  ros1/src/march_launch/launch/disable_camera_plugins.launch
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/realsense_camera.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Disable camera topics in rosbag
  ros1/src/march_launch/launch/march.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Update variable names
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Do not return in void method
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Do no return false in void method
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove new idle positions
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add basic python package for the smartglasses bridge
  ros2/src/hardware/interface/march_smartglasses_bridge/march_smartglasses_bridge/__init__.py
  ros2/src/hardware/interface/march_smartglasses_bridge/package.xml
  ros2/src/hardware/interface/march_smartglasses_bridge/resource/march_smartglasses_bridge
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.cfg
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Dockerfile comment change
  Dockerfile
Due: container:build

Revert Dockerfile change
  Dockerfile
Due: container:build

Use new simple haa movement for default stairs up
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_haa_adpf_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix typoe
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_small_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Iput device png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_ramp_door_last_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_ramp_door_slope_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_ramp_door_slope_up.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_first_middle_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_high_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_second_middle_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_third_middle_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_side_step_left.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_side_step_right.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_single_step_medium.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_single_step_small.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_sit.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_sofa_sit.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_sofa_stand.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_down_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_up.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_up_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stand.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_left_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_left_straight_end.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_left_straight_start.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_right_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_right_straight_end.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_right_straight_start.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_walk.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_walk_large.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_walk_small.png
  ros2/src/visualization/march_rqt_input_device/resource/img/rocker_switch_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/rocker_switch_up.png
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Upper left leg
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix the safety values for simulation working correctly (imperfect solution)
  ros2/src/shared/march_description/urdf/march4-unsure.xacro
  ros2/src/shared/march_description/urdf/march4.urdf
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_new.urdf
  ros2/src/shared/march_description/urdf/march4_new.xacro
  ros2/src/shared/march_description/urdf/march4_old.urdf
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add march6 as copy from march5 with new lengths
  ros1/src/shared/march_description/CMakeLists.txt
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march6.yaml
  ros1/src/simulation/march_simulation/config/effort_control/march6.yaml
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/march6.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add progress from melodic version
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/macros/rotational_joint.xacro
  ros2/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros2/src/shared/march_description/urdf/march4_old.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Last changes before Christmas break, a start to move dimensions to yaml file and attempt to change collision origin for feet to standard middle
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_new.xacro
  ros2/src/shared/march_description/urdf/march4_old.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs
