Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Add forgotten .
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Remove ros1 march_gait_selection and march_gait_files
  ros1/src/gaits/march_gait_files/CMakeLists.txt
  ros1/src/gaits/march_gait_files/package.xml
  ros1/src/gaits/march_gait_selection/CMakeLists.txt
  ros1/src/gaits/march_gait_selection/launch/march_gait_selection.launch
  ros1/src/gaits/march_gait_selection/package.xml
  ros1/src/gaits/march_gait_selection/scripts/march_gait_selection_node
  ros1/src/gaits/march_gait_selection/setup.py
  ros1/src/gaits/march_gait_selection/sounds/gait_end.wav
  ros1/src/gaits/march_gait_selection/sounds/gait_start.wav
  ros1/src/gaits/march_gait_selection/sounds/gait_stop.wav
  ros1/src/gaits/march_gait_selection/sounds/start.wav
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/__init__.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/__init__.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/balance_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/sounds.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/__init__.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_state_machine.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_state_machine_error.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/home_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/setpoints_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/state_machine_input.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/trajectory_scheduler.py
  ros1/src/gaits/march_gait_selection/test/launch/testing_dynamic_gaits.test
  ros1/src/gaits/march_gait_selection/test/nosetests/__init__.py
  ros1/src/gaits/march_gait_selection/test/nosetests/run_tests.py
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros1/src/gaits/march_gait_selection/test/rostest/test_gait_balance.py
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/balance_walk.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/default.yaml
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/stairs_up.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/walk/walk.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/walk_medium/walk_medium.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/walk_small/walk_small.gait
Due: container:build

First version of moveit interface, trajectory is still failing
  ros1/__init__.py
  ros1/src/__init__.py
  ros1/src/balance/march_moveit/launch/march_moveit.launch
  ros1/src/balance/march_moveit_interface/CMakeLists.txt
  ros1/src/balance/march_moveit_interface/launch/moveit_interface.launch
  ros1/src/balance/march_moveit_interface/package.xml
  ros1/src/balance/march_moveit_interface/scripts/march_moveit_interface
  ros1/src/balance/march_moveit_interface/setup.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/__init__.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface_node.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/march_launch/launch/march.launch
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/package.xml
  ros1/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/package.xml
  ros2/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
Due: container:build

Fix problem with tf_repeated data
  ros1/src/data/march_data_collector/launch/march_data_collector.launch
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: none

Upload debugging version of balance code
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_simulation.launch
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_description/launch/march_description.launch.py
Due: none

Clean up code
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface_node.py
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_description/launch/march_description.launch.py
Due: none

Fix rebase problem
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/balance_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/test/rostest/test_gait_balance.py
Due: none

Remove __init__ outside python modules
  ros1/__init__.py
  ros1/src/__init__.py
Due: none

Fix ros2 test failure
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: none

Fix moveit interface working
  ros1/src/balance/march_moveit/config/march.srdf
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: none

Fix deadlock and kinematics yaml loading successfully
  ros1/src/balance/march_moveit/launch/planning_context.launch
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface_node.py
  ros1/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
Due: none

Undo changes to ros1 gait selection
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/balance_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/test/rostest/test_gait_balance.py
Due: none

Fix balance default being false
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: none

Remove debug logging
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: none

Small fixes from MR comments Bas
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
Due: none

Few small refactors
  ros1/src/balance/march_moveit/launch/march_moveit.launch
  ros1/src/balance/march_moveit/launch/planning_context.launch
  ros1/src/balance/march_moveit_interface/CMakeLists.txt
  ros1/src/balance/march_moveit_interface/package.xml
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: container:build

Remove debug goal tolerance
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: none

Changing odrive serial
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
Due: noetic:clang_tidy

Changing odrive serial nnumber
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
Due: none

Fix balance gait to use new duration class
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: none

Updating PID values
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
Due: none

Add Q matrix to MPC controller parameters
  ros1/src/control/march_acado_mpc/config/rotational_joint.yaml
  ros1/src/control/march_acado_mpc/config/test_joint_rotational.yaml
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational.yaml
Due: noetic:clang_tidy

Small bugfix and few style improvements
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: none

Finalize MotorControllerState class
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state2.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
Due: noetic:clang_tidy

Print Debug messages
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Let Joint and MHWI use the new MotorControllerState
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/ImcState.msg
  ros1/src/shared/march_shared_msgs/msg/MotorControllerState.msg
Due: noetic:clang_tidy

Testing
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Changing debug messages
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Remove traceback from requirements.pip.
  requirements.pip
Due: none

Remove traceback dependency
  requirements.pip
Due: none

Add some abstraction to ActutationMode
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/actuation_mode.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
Due: noetic:clang_tidy

Update Dockerfile
  Dockerfile
Due: container:build

Add realsense camera dependencies and add to launch file:
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/package.xml
Due: container:build

Rename input cloud
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add config file to preprocessor
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add basic preprocessor
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Use boost shared ptr instead of std shared ptr for compatibility with pcl
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Small bugfix
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add msg and publisher to mpc
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
