Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Fix pressure sole creation
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Add basic pressure sole functionality
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/march_robot.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/pressure_sole/pressure_sole.h
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/pressure_sole/pressure_sole.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/robots/pressure_soles.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/PressureSoleData.msg
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/PressureSoleData.msg
Due: noetic:clang_tidy

Fix ros2 PressureSoleData.msg file
  ros2/src/shared/march_shared_msgs/msg/PressureSoleData.msg
Due: none

Add some tests
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/pressure_sole/pressure_sole.h
  ros1/src/hardware/interface/march_hardware/test/pressure_sole/pressure_sole_test.cpp
Due: noetic:clang_tidy

Add resizing of pressure sole data pub arrays
  ros1/src/hardware/interface/march_hardware_builder/robots/pressure_soles.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Move march_rqt_robot_monitor to ROS2
  ros1/src/visualization/march_rqt_robot_monitor/CMakeLists.txt
  ros1/src/visualization/march_rqt_robot_monitor/scripts/march_rqt_robot_monitor_node
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch
  ros2/src/visualization/march_rqt_robot_monitor/package.xml
  ros2/src/visualization/march_rqt_robot_monitor/setup.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/__init__.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/__init__.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: container:build

Rename node to diag_agg
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
Due: none

Add basic files for ROS2 package
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/package.xml
  ros2/src/visualization/march_rqt_robot_monitor/resource/march_rqt_robot_monitor
  ros2/src/visualization/march_rqt_robot_monitor/setup.py
Due: container:build

Tune down desired frequency
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
Due: none

Fix flakehell lint warnings
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
  ros2/src/visualization/march_rqt_robot_monitor/setup.py
Due: none

Integrate march_rqt_robot_monitor with march_monitor
  ros2/src/visualization/march_monitor/config/full_monitor.perspective
  ros2/src/visualization/march_monitor/launch/monitor.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/control.py
Due: none

Make rqt_robot_monitor build
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
  ros2/src/visualization/march_rqt_robot_monitor/package.xml
  ros2/src/visualization/march_rqt_robot_monitor/setup.py
Due: container:build

Update python source code of march rqt robot monitor
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/__init__.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/__init__.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
  ros2/src/visualization/march_rqt_robot_monitor/package.xml
  ros2/src/visualization/march_rqt_robot_monitor/setup.cfg
Due: container:build

Add gait and imc diagnostic updaters
  ros2/src/shared/march_utility/march_utility/utilities/node_utils.py
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
  ros2/src/visualization/march_rqt_robot_monitor/setup.py
  ros2/src/visualization/march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: none

Comment complete python files
  ros2/src/shared/march_robot_information/test/launch_test/robot_information_description_launch_test.py
  ros2/src/shared/march_robot_information/test/launch_test/robot_information_launch_test.py
Due: none

Fix error with wrong xacro
  ros2/src/shared/march_description/launch/march_description.launch.py
Due: none

Add to_world_transform argument
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: none

Remove redundant to_world_transform
  ros1/src/simulation/march_simulation/CMakeLists.txt
Due: none

Clean up code
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/scripts/to_world_transform
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Fix pointer problems to stop random shutting down
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_description/urdf/march4.xacro
Due: none

Reformat and add dependency
  .gitmodules
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_description/package.xml
Due: container:build

Add comments from Bas.
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Update variable name.
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: none

Use atan2.
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
Due: none

Creating parameter path variable
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Adding suggestions
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Refactor PressureSoleData publishing
  ros1/src/hardware/interface/march_hardware/include/march_hardware/pressure_sole/pressure_sole.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/PressureSoleData.msg
  ros1/src/shared/march_shared_msgs/msg/PressureSolesData.msg
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/PressureSoleData.msg
  ros2/src/shared/march_shared_msgs/msg/PressureSolesData.msg
Due: noetic:clang_tidy

Reverting joint limits to old values
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: none

Remove half line.
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Gave all the files the rigth description and changed the rigth close so that it matches the lefswing of stairs_down_v1
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_haa_adpf_v1.subgait
Due: none

Add view point to avoid bad normal estimation.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Fix transform from /tf topic
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: container:build, noetic:clang_tidy

Fix typo.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Fix another typo.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Add initial_reset launch parameter.
  ros1/src/march_launch/launch/march.launch
Due: none

Fix even more typos.
  ros1/src/march_launch/launch/march.launch
Due: none

Remove a ) added by mistake.
  ros1/src/march_launch/launch/march.launch
Due: none

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
