Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Update Dockerfile
  Dockerfile
Due: container:build

Fix balance default being false
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: none

Small fixes from MR comments Bas
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
Due: none

Fix ros2 test failure
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: none

Undo changes to ros1 gait selection
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/balance_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/test/rostest/test_gait_balance.py
Due: none

Update newest Dockerfile
  Dockerfile
Due: container:build

Few small refactors
  ros1/src/balance/march_moveit/launch/march_moveit.launch
  ros1/src/balance/march_moveit/launch/planning_context.launch
  ros1/src/balance/march_moveit_interface/CMakeLists.txt
  ros1/src/balance/march_moveit_interface/package.xml
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: container:build

Small bugfix and few style improvements
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: none

Fix balance gait to use new duration class
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: none

Remove __init__ outside python modules
  ros1/__init__.py
  ros1/src/__init__.py
Due: none

Fix rebase problem
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/balance_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/test/rostest/test_gait_balance.py
Due: none

Refactor pointcloud processor
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/region_creator.cpp
Due: noetic:clang_tidy

Remove ros1 march_gait_selection and march_gait_files
  ros1/src/gaits/march_gait_files/CMakeLists.txt
  ros1/src/gaits/march_gait_files/package.xml
  ros1/src/gaits/march_gait_selection/CMakeLists.txt
  ros1/src/gaits/march_gait_selection/launch/march_gait_selection.launch
  ros1/src/gaits/march_gait_selection/package.xml
  ros1/src/gaits/march_gait_selection/scripts/march_gait_selection_node
  ros1/src/gaits/march_gait_selection/setup.py
  ros1/src/gaits/march_gait_selection/sounds/gait_end.wav
  ros1/src/gaits/march_gait_selection/sounds/gait_start.wav
  ros1/src/gaits/march_gait_selection/sounds/gait_stop.wav
  ros1/src/gaits/march_gait_selection/sounds/start.wav
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/__init__.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/__init__.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/balance_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/sounds.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/__init__.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_state_machine.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_state_machine_error.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/home_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/setpoints_gait.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/state_machine_input.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/trajectory_scheduler.py
  ros1/src/gaits/march_gait_selection/test/launch/testing_dynamic_gaits.test
  ros1/src/gaits/march_gait_selection/test/nosetests/__init__.py
  ros1/src/gaits/march_gait_selection/test/nosetests/run_tests.py
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros1/src/gaits/march_gait_selection/test/rostest/test_gait_balance.py
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/balance_walk/balance_walk.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/default.yaml
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/stairs_up/stairs_up.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/walk/walk.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/walk_medium/walk_medium.gait
  ros1/src/gaits/march_gait_selection/test/testing_gait_files/walk_small/walk_small.gait
Due: container:build

First version of moveit interface, trajectory is still failing
  ros1/__init__.py
  ros1/src/__init__.py
  ros1/src/balance/march_moveit/launch/march_moveit.launch
  ros1/src/balance/march_moveit_interface/CMakeLists.txt
  ros1/src/balance/march_moveit_interface/launch/moveit_interface.launch
  ros1/src/balance/march_moveit_interface/package.xml
  ros1/src/balance/march_moveit_interface/scripts/march_moveit_interface
  ros1/src/balance/march_moveit_interface/setup.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/__init__.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface_node.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros1/src/march_launch/launch/march.launch
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/package.xml
  ros1/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/package.xml
  ros2/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
Due: container:build

Fix problem with tf_repeated data
  ros1/src/data/march_data_collector/launch/march_data_collector.launch
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
Due: none

Upload debugging version of balance code
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/march_launch/launch/march.launch
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_description/launch/march_description.launch.py
Due: none

Fix deadlock and kinematics yaml loading successfully
  ros1/src/balance/march_moveit/launch/planning_context.launch
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface_node.py
  ros1/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_shared_msgs/srv/GetMoveItTrajectory.srv
Due: none

Fix moveit interface working
  ros1/src/balance/march_moveit/config/march.srdf
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: none

Clean up code
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py
  ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface_node.py
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: none

Remove debug logging
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
Due: none

Add config file and basic yaml iterator
  ros1/src/simulation/march_gazebo_plugins/config/com_levels.yaml
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros1/src/simulation/march_gazebo_plugins/package.xml
  ros1/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
Due: container:build, noetic:clang_tidy

Fix working change and get com level services
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/srv/ChangeComLevel.srv
  ros1/src/shared/march_shared_msgs/srv/GetPossibleComLevels.srv
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
Due: noetic:clang_tidy

Fix problems caused by rebase
  ros1/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Apply 1 suggestion(s) to 1 file(s)
  ros1/src/simulation/march_gazebo_plugins/config/com_levels.yaml
Due: none

Fix durations.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_flat_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MV_RD_slopeup_flat_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_flat_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_flat_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MV_RD_slopeup_flat_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_flat_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_v2.subgait
Due: none

Add removePointByIndex method.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Add the remove point method to the preprocessor class.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Revert "Fix durations."
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_flat_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MV_RD_slopeup_flat_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MV_RD_slopeup_flat_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_flat_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MV_RD_slopeup_flat_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MV_RD_slopeup_flat_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_v2.subgait
Due: none

Fix point cloud publishing.
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Fix publishing.
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: noetic:clang_tidy

Remove geometry _msgs.
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/preprocessor.cpp
Due: container:build, noetic:clang_tidy

Copy files to motor_controller directory
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/actuation_mode.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_target_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube_target_state.cpp
  ros1/src/hardware/interface/march_hardware/test/imotioncube/imotioncube_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/test/imc_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Let Joint and MHWI use the new MotorControllerState
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/ImcState.msg
  ros1/src/shared/march_shared_msgs/msg/MotorControllerState.msg
Due: noetic:clang_tidy
