Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Refactor march_acado_mpc
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/include/mpc_references.h
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/control/march_acado_mpc/src/mpc_references.cpp
Due: noetic:clang_tidy

Reformat march_utility
  ros2/src/shared/march_utility/include/march_utility/node_utils.hpp
  ros2/src/shared/march_utility/src/node_utils.cpp
Due: foxy:clang_tidy

Reformat march_fake_sensor_data
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/FakeTemperatureData.hpp
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/UniformDistribution.hpp
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
  ros2/src/simulation/march_fake_sensor_data/src/UniformDistribution.cpp
  ros2/src/simulation/march_fake_sensor_data/src/main.cpp
  ros2/src/simulation/march_fake_sensor_data/test/FakeTemperatureDataTest.cpp
  ros2/src/simulation/march_fake_sensor_data/test/UniformDistributionTest.cpp
Due: foxy:clang_tidy

Reformat march_safety
  ros2/src/safety/march_safety/include/march_safety/input_device_safety.hpp
  ros2/src/safety/march_safety/include/march_safety/safety_handler.hpp
  ros2/src/safety/march_safety/include/march_safety/safety_node.hpp
  ros2/src/safety/march_safety/include/march_safety/safety_type.hpp
  ros2/src/safety/march_safety/include/march_safety/temperature_safety.hpp
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
  ros2/src/safety/march_safety/src/safety_node.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/safety/march_safety/test/rostest/connection_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_never_started_test.cpp
  ros2/src/safety/march_safety/test/rostest/connection_not_lost_test.cpp
  ros2/src/safety/march_safety/test/rostest/error_counter.h
  ros2/src/safety/march_safety/test/rostest/no_temperature_error_test.cpp
Due: foxy:clang_tidy

Add button to input device and create first version of RealSenseGait class in default.yaml
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/realsense_stairs_up.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_low_undeep.subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/visualization/march_rqt_input_device/config/default.json
  ros2/src/visualization/march_rqt_input_device/resource/img/realsense_stairs_up.png
Due: none

Remove some debugging and reset scheduler earlier
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: none

Use previously created subgaits to improve speed for 2D gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: none

Add gait directory and (sub)gait names to interpolation function
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: none

Some fixes in includes and adding better from_yaml function for creating the gaits in gait_selection
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/Camera.msg
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
Due: noetic:clang_tidy

Remove old include
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Update message types and add camera enum
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: noetic:clang_tidy

Fix for when disabling failures, step is still too low
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/Camera.msg
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: noetic:clang_tidy

Fix rebase mistake
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: none

Force clang-format to succeed
  .gitlab-ci.yml
Due: none

Change ankle dorsi flexi to 2.5 degrees.
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: none

Add lay out of documentation.
  doc/march_packages/march_realsense_reader.rst
Due: none

Fix typo.
  doc/march_packages/march_realsense_reader.rst
Due: none

Add the realsense_reader to the index.
  index.rst
Due: none

Add general documentation.
  doc/march_packages/images/pcl_software_architecture.png
  doc/march_packages/march_realsense_reader.rst
Due: none

Add the class structure.
  doc/march_packages/images/pcl_class_structure.png
  doc/march_packages/march_realsense_reader.rst
Due: none

Improve the header structure.
  doc/march_packages/march_realsense_reader.rst
Due: none

Add pcl reference.
  doc/march_packages/march_realsense_reader.rst
Due: none

Clean up subgait delay functionality
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_robot_information/march_robot_information/robot_information_node.py
  ros2/src/visualization/march_rqt_input_device/config/default.json
  ros2/src/visualization/march_rqt_input_device/resource/img/single_step_normal.png
Due: none

Update documentation of setpoints gait and gait interface
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
Due: none

Update dynamic gaits according to new interface
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
Due: none

Reformat march_pdb_state_controller
  ros1/src/hardware/drivers/march_pdb_state_controller/include/march_pdb_state_controller/march_pdb_state_controller.h
  ros1/src/hardware/drivers/march_pdb_state_controller/src/march_pdb_state_controller.cpp
Due: noetic:clang_tidy

Reformat march_realsense_reader
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/output_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_gait_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader_node.cpp
Due: noetic:clang_tidy

Ignore ros2/src/libraries for clang-format changes
  .clang-format-ignore
Due: none

Use webkit as base style
  .clang-format
  .clang-format-ignore
Due: none

Reformat march_imu_manager
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/mtw.h
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/wireless_master.h
  ros1/src/hardware/drivers/march_imu_manager/src/main.cpp
  ros1/src/hardware/drivers/march_imu_manager/src/mtw.cpp
  ros1/src/hardware/drivers/march_imu_manager/src/wireless_master.cpp
  ros1/src/hardware/drivers/march_imu_manager/test/wireless_master_test.cpp
Due: noetic:clang_tidy

Allow the clang_format stage to fail
  .gitlab-ci.yml
Due: none

Add run-clang-format python script
  .clang-format-ignore
  .gitlab-ci.yml
  run-clang-format.py
Due: none

Change stage to Lint Code
  .gitlab-ci.yml
Due: none

Refactor march_gazebo_plugins
  ros1/src/simulation/march_gazebo_plugins/include/contact/contact_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/contact_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
Due: noetic:clang_tidy

Reformat march_hardware_interface
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_pdb_state_interface.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_temperature_sensor_interface.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_on_off_command.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_type.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
  ros1/src/hardware/interface/march_hardware_interface/test/pdb_state_interface_test.cpp
  ros1/src/hardware/interface/march_hardware_interface/test/test_runner.cpp
Due: noetic:clang_tidy

Format code after linting in pipeline
  .gitlab-ci.yml
Due: none

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
