Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Left side step large, v1 is MVI and v2 is MIV.
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/left_open/MVI_sidestepleft_leftopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/side_step_left/right_close/MVI_sidestepleft_rightclose_v2.subgait
Due: none

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Use noline to avoid clang on rand()
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: noetic:clang_tidy

Add performance based optimization with const references in ROS1
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/hardware_exception.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Automatically fix certain clang-tidy errors in ROS1
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/hardware_exception.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/pdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/sdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/slave.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/march_robot.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_slave.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
Due: noetic:clang_tidy

Automatically fix certain clang-tidy errors in ROS2
  ros2/src/safety/march_safety/include/march_safety/input_device_safety.hpp
  ros2/src/safety/march_safety/include/march_safety/temperature_safety.hpp
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/safety_handler.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: foxy:clang_tidy

Ignore clang-violation for certain callback functions
  ros2/src/safety/march_safety/src/input_device_safety.cpp
  ros2/src/safety/march_safety/src/temperature_safety.cpp
Due: foxy:clang_tidy

Fix compilation error from automatic fix in ROS1
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
Due: noetic:clang_tidy

Enable performance clang-tidy checks
  .clang-tidy
Due: none

Add missing parameter comments in ROS1
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Add missing function comments in march_hardware
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/hardware_exception.h
Due: noetic:clang_tidy

Remove unneccessary std::move calls in march_hardware_builder
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: noetic:clang_tidy

Add descriptions and update package
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/package.xml
Due: none

Add const& parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix launch argument, add result message, change names to english
  ros1/src/data/march_realsense_test_publisher/config/datasets/door.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/from-ramp.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp-from-stand-with-crutch.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp-from-stand-with-thijs.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp-from-stand-without-thijs.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/ramp-leaning.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stairs1.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stairs2.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stairs3.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stairs4.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stairs_down1.ply
  ros1/src/data/march_realsense_test_publisher/config/datasets/stairs_down2.ply
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/package.xml
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
  ros1/src/march_launch/launch/march.launch
  ros1/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
  ros2/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
Due: noetic:clang_tidy

Fix wrong parameter name
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Use refs keyword in only to run compared to the based of the branch instead of just the latest commit
  .gitlab-ci.yml
Due: none

Run test and build stages iff they folders have been changed
  .gitlab-ci.yml
Due: none

Run build stages if .clang-tidy has changed because clang-tidy depends on build stage in CI
  .gitlab-ci.yml
Due: none

Override jobs dependencies for MR pipelines
  .gitlab-ci.yml
Due: none

Create image tags based on different variables depending if it is a MR pipeline or not
  .gitlab-ci.yml
Due: none

Also run the tag stage for merge requests
  .gitlab-ci.yml
Due: none

Add extra wildcard to see if correct stages of pipeline run
  .gitlab-ci.yml
Due: none

Set branch name to MR source if it is set by GitLab
  .gitlab-ci.yml
Due: none

Try to use different image variable for merge_request pipelines
  .gitlab-ci.yml
Due: none

Add more documentation to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Adjust container:build stage to use only instead of if for consistency
  .gitlab-ci.yml
Due: none

Remove optimalization that creates an indefinite 'Checking pipeline status' loop
  .gitlab-ci.yml
Due: none

Remove default image tag
  .gitlab-ci.yml
Due: none

Add only:changes key to container:tag job
  .gitlab-ci.yml
Due: none

Remove wrongly pasted link from .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Fix simulation launch condition
  ros1/src/march_launch/launch/march.launch
Due: none

Remove realsense_reader dependency in cmake and package xml
  ros1/src/data/march_realsense_test_publisher/CMakeLists.txt
  ros1/src/data/march_realsense_test_publisher/package.xml
Due: none

Resolve MR style comments
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/__init__.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/setup.py
Due: none

Apply 2 suggestion(s) to 2 file(s)
  requirements.pip
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: none

Add button to input device and create first version of RealSenseGait class in default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/realsense_stairs_up.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_low_undeep.subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_description/launch/march_description.launch.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/visualization/march_rqt_input_device/config/default.json
  ros2/src/visualization/march_rqt_input_device/resource/img/realsense_stairs_up.png
Due: none

Update message types and add camera enum
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/shared/march_shared_msgs/msg/GaitParameters.msg
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: noetic:clang_tidy

Some fixes in includes and adding better from_yaml function for creating the gaits in gait_selection
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/Camera.msg
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
Due: noetic:clang_tidy

Fix rebase mistake
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: none
