Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Reformat march_temperature_sensor_controller
  ros1/src/hardware/drivers/march_temperature_sensor_controller/include/march_temperature_sensor_controller/march_temperature_sensor_controller.h
  ros1/src/hardware/drivers/march_temperature_sensor_controller/src/march_temperature_sensor_controller.cpp
Due: noetic:clang_tidy

Add clang-format style based on WebKit template
  .clang-format
Due: none

Reformat march_joint_inertia_controller
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  ros1/src/control/march_joint_inertia_controller/src/inertia_estimator.cpp
  ros1/src/control/march_joint_inertia_controller/src/joint_inertia_controller.cpp
  ros1/src/control/march_joint_inertia_controller/src/joint_trajectory_inertia_controller.cpp
Due: noetic:clang_tidy

Reformat march_hardware_builder
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_config_exceptions.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/absolute_encoder_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/allowed_robot_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/imc_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/incremental_encoder_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/pdb_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/test_runner.cpp
Due: noetic:clang_tidy

Resolve MR comments
  .gitlab-ci.yml
  .scripts/run-clang-format.py
  pyproject.toml
Due: none

Refactor march_acado_mpc
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/include/mpc_references.h
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
  ros1/src/control/march_acado_mpc/src/mpc_references.cpp
Due: noetic:clang_tidy

Add clang-format install to dockerfile
  Dockerfile
Due: container:build

Disable clang-format on specific includes of SOEM
  ros1/src/hardware/interface/march_hardware/check/slave_count.cpp
Due: noetic:clang_tidy

Add ssh and clang-format to generate docker file script
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Make C++ format into a single stage
  .gitlab-ci.yml
Due: none

Reformat march_fake_sensor_data
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/FakeTemperatureData.hpp
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/UniformDistribution.hpp
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
  ros2/src/simulation/march_fake_sensor_data/src/UniformDistribution.cpp
  ros2/src/simulation/march_fake_sensor_data/src/main.cpp
  ros2/src/simulation/march_fake_sensor_data/test/FakeTemperatureDataTest.cpp
  ros2/src/simulation/march_fake_sensor_data/test/UniformDistributionTest.cpp
Due: foxy:clang_tidy

Trigger pipeline by changing simple cpp file
  Dockerfile
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: container:build, noetic:clang_tidy

Set only changes file in gitlab CI to different ros folders
  .gitlab-ci.yml
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Fix temporary changes for clang-format
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: noetic:clang_tidy

Corrected the way of writing seconds in subgait files. Added the correct joint names
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait/sine_subgait/MVI_linear_sine_subgait_v1.subgait
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait/sine_subgait/MVI_rotational_sine_subgait_v1.subgait
Due: none

Start realsense documentation
  doc/march_packages/march_realsense_reader.rst
  index.rst
Due: none

Fix typos and clarify sentences.
  doc/march_packages/march_realsense_reader.rst
Due: none

Remove parameters for now.
  doc/march_packages/march_realsense_reader.rst
Due: none

Add physical camera tutorial.
  doc/march_packages/images/physical_camera_result.png
  doc/march_packages/march_realsense_reader.rst
Due: none

Remove FAQ.
  doc/march_packages/march_realsense_reader.rst
Due: none

Improve format.
  doc/march_packages/march_realsense_reader.rst
Due: none

Improve estimation.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
Due: none

Avoid reading useless parameters.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add method definition and add foot parameters.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add setpoints gait tests
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_setpoints_gait.py
Due: none

Add parameter to readYaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Start work on entire foot can be placed method.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Remove change in launch file from this MR
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: none

Format cpp code:
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Finalize method.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add new parameters to header.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
Due: noetic:clang_tidy

Fix typo and type mistake.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Refactor method.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Format cpp code.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix indices
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix foot shape and add comments to explain + - signs
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Disable all camera plugins for front and back camera
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/march_launch/launch/realsense_camera.launch
  ros1/src/simulation/march_simulation/launch/disable_camera_plugins.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: none

Adjusting controller config structure
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational.yaml
Due: none

Updating weight assigning functions
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Update MPC message
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
