Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy

Fix launching xacro with configuration argument for different safety values on simulation
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_ros2_mvp.launch
  ros1/src/march_launch/launch/march_ros2_simulation.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Right leg and temporary .gitignore
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/stl-files/.gitignore
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Large xacro refactor, replacing all joints and pressure soles with macros, moving safety to yaml
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
  ros2/src/shared/march_description/urdf/macros/joint.xacro
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros2/src/shared/march_description/urdf/march4.urdf
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_new.urdf
  ros2/src/shared/march_description/urdf/march4_old.urdf
  ros2/src/shared/march_description/urdf/march4_old.xacro
  ros2/src/shared/march_description/urdf/properties/march4_dimensions.yaml
  ros2/src/shared/march_description/urdf/properties/march4_inertia.yaml
  ros2/src/shared/march_description/urdf/properties/march4_joint_limits.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_exoskeleton.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_simulation.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix safety controller problem
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_ros2_mvp.launch
  ros1/src/march_launch/launch/march_ros2_simulation.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/temp.txt
  ros2/src/shared/march_description/urdf/march4-unsure.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/properties/march4.yaml
  ros2/src/shared/march_description/urdf/properties/march4_dimensions.yaml
  ros2/src/shared/march_description/urdf/properties/march4_inertia.yaml
  ros2/src/shared/march_description/urdf/properties/march4_joint_limits.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_exoskeleton.yaml
  ros2/src/shared/march_description/urdf/properties/march4_safety_simulation.yaml
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Change to use 1 yaml file
  ros2/src/shared/march_description/urdf/march4.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix failing test
  ros2/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/properties/march4.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove comment
  ros2/src/shared/march_description/urdf/macros/frame_part.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove state publisher used for easy development
  ros1/src/march_launch/launch/march_simulation.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Add new realsense placement
  ros1/src/march_launch/launch/march.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Remove duplicate description param
  ros1/src/march_launch/launch/march.launch
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix control error
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march6.yaml
  ros1/src/simulation/march_simulation/config/groundgait/effort_control/march6.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Improve colour
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update joint reductions and fix groundgait effort control yaml
  ros1/src/simulation/march_simulation/config/groundgait/effort_control/march6.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Update mechanical reduction joint
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Revert "Checked sit and stand and changed ankle and hip positions."
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix ankle positions sit and stand
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Set low as default and fix stand up ankle
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Stand up should end at stand of course
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change haa positions sit gaits
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Removed all wrong gaits from stairs_down_backwards
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdown_rightopen_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v6a.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v7.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v8.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MV_stairsdown_rightopen_v9.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdown_rightswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v7.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v8.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MV_stairsdown_rightswing_v9.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Removed backward gaits from the stair_down gaitfiles.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_adpf_haa_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_undeep_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use ankle of 0 for low too
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Renamed all the backward stairs down gait files.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_adpf_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_undeep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix default standing position
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix typo which costed me half an hour :(
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove useless idle states
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix ramp up and down idle positions
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_last_step/right_open/MVI_RD_laststep_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Apply 6 suggestion(s) to 1 file(s)
  ros2/src/shared/march_description/urdf/march6.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Checked all forward stair gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_undeep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove images
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_ramp_door_last_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_ramp_door_slope_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_ramp_door_slope_up.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_first_middle_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_high_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_second_middle_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_rough_terrain_third_middle_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_side_step_left.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_side_step_right.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_single_step_medium.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_single_step_small.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_sit.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_sofa_sit.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_sofa_stand.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_down_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_up.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stairs_up_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_stand.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_left_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_left_straight_end.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_left_straight_start.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_right_single_step.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_right_straight_end.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_tilted_path_right_straight_start.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_walk.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_walk_large.png
  ros2/src/visualization/march_rqt_input_device/resource/img/gait_walk_small.png
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove txt file
  ros1/temp.txt
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Remove two more images
  ros2/src/visualization/march_rqt_input_device/resource/img/rocker_switch_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/rocker_switch_up.png
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove merge conflict things
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change rotational joint gait code
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/default.yaml
  ros2/src/gaits/march_gait_files/rotational_testjoint_gaits/rotational_sine_gait/sine_subgait/MVI_rotational_sine_subgait_v1.subgait
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Linear test joint settings and xacro update
  ros1/src/hardware/interface/march_hardware/config/linear_joint.json
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/default.yaml
  ros2/src/gaits/march_gait_files/linear_testjoint_gaits/linear_sine_gait/sine_subgait/MVI_linear_sine_subgait_v1.subgait
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add weights to urdf
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add new airgait directory which has the haa and adpf set to the default standing position
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/default.yaml
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/left_close/MVI_rampup_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/left_open/MVI_rampup_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/left_swing/MVI_rampup_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/ramp_up.gait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/right_close/MVI_rampup_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/right_open/MVI_rampup_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/right_swing/MVI_rampup_rightswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/stairs_up/stairs_up.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Checked the slope down again.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs
