Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy

Add ramp up to the no haa adpf gait directory
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/default.yaml
  ros2/src/gaits/march_gait_files/airgait_without_haa_adpf/ramp_up/right_swing/MVI_rampup_rightswing_flat_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove test file
  ros1/src/data/march_realsense_test_publisher/config/datasets/jkfjkj.ply
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Changed the left open of slope down.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix typo
  ros1/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
  ros2/src/shared/march_shared_msgs/srv/PublishTestDataset.srv
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Fix start position of ramp down gait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Reset gait files to main
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/single_step_normal/left_close/MIV_final.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix bad start points
  ros2/src/gaits/march_gait_files/test_versions-vi/single_step_normal/left_close/MIV_final.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add comments from Katja
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add gait to ipd and fix velocity for stand up
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stand/stand_up/MVI_stand_up_low_v1.subgait
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Reset ramp door slope down files
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Do not let ankle go to 2.5 degrees
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_haa_adpf_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Rename versions
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add gait to default and verify transitions
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_cybathlon_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_cybathlon_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove debug stream
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use new realsense category name
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Update stair parameters
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Improve save successful massage
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Update stairs and ramp up
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fixing safety controller, lowering velocity limit and updating standard pid values of the rotational test joint
  ros1/src/hardware/interface/march_hardware/config/rotational_joint.json
  ros1/src/hardware/interface/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_rotational/controllers.yaml
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Potentially fix strange clang tindy error
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add structure to parameters
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Stair down backward gaits checked on peaks and ankle positions.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_undeep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix feet
  ros2/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Put the backwards stair gait in the default.yaml and changed the swing end positions of high deep.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_deep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Align visuals a little better
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Tune parameters
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Use __FILE__ to find current source file
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add inertias
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update convex description
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Version 2 steep slope down gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_steep_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Made flat ramp down gaits with the same peaks as the steep version 2.
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_close/MVI_RD_slopedown_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_open/MVI_RD_slopedown_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/left_swing/MVI_RD_slopedown_leftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_close/MVI_RD_slopedown_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_swing/MVI_RD_slopedown_rightswing_flat_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Renamed haa_adpf to cybathlon.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_cybathlon_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_cybathlon_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Changed description of 35 cm depth to 45 cm.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_deep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Renamed all the backward stairs down gait files.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_adpf_haa_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_close/MVI_stairsdownbackwards_leftclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/left_swing/MVI_stairsdownbackwards_leftswing_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_close/MVI_stairsdownbackwards_rightclose_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_open/MVI_stairsdownbackwards_rightopen_low_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_high_undeep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_deep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down_backwards/right_swing/MVI_stairsdownbackwards_rightswing_low_undeep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Removed backward gaits from the stair_down gaitfiles.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_adpf_haa_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_swing/MVI_stairsdown_leftswing_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_low_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_high_undeep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_deep_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_swing/MVI_stairsdown_rightswing_low_undeep_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs
