Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Add clang-format install to dockerfile
  Dockerfile
Due: container:build

Allow the clang_format stage to fail
  .gitlab-ci.yml
Due: none

Add clang-format style based on WebKit template
  .clang-format
Due: none

Use webkit as base style
  .clang-format
  .clang-format-ignore
Due: none

Add ssh and clang-format to generate docker file script
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Reformat march_joint_inertia_controller
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  ros1/src/control/march_joint_inertia_controller/src/inertia_estimator.cpp
  ros1/src/control/march_joint_inertia_controller/src/joint_inertia_controller.cpp
  ros1/src/control/march_joint_inertia_controller/src/joint_trajectory_inertia_controller.cpp
Due: noetic:clang_tidy

Ignore ros2/src/libraries for clang-format changes
  .clang-format-ignore
Due: none

Reformat march_temperature_sensor_controller
  ros1/src/hardware/drivers/march_temperature_sensor_controller/include/march_temperature_sensor_controller/march_temperature_sensor_controller.h
  ros1/src/hardware/drivers/march_temperature_sensor_controller/src/march_temperature_sensor_controller.cpp
Due: noetic:clang_tidy

Reformat march_realsense_reader
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/preprocessor.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/output_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_gait_utilities.h
  ros1/src/data/march_realsense_reader/include/utilities/yaml_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader_node.cpp
Due: noetic:clang_tidy

Reformat march_pdb_state_controller
  ros1/src/hardware/drivers/march_pdb_state_controller/include/march_pdb_state_controller/march_pdb_state_controller.h
  ros1/src/hardware/drivers/march_pdb_state_controller/src/march_pdb_state_controller.cpp
Due: noetic:clang_tidy

Reformat march_imu_manager
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/mtw.h
  ros1/src/hardware/drivers/march_imu_manager/include/march_imu_manager/wireless_master.h
  ros1/src/hardware/drivers/march_imu_manager/src/main.cpp
  ros1/src/hardware/drivers/march_imu_manager/src/mtw.cpp
  ros1/src/hardware/drivers/march_imu_manager/src/wireless_master.cpp
  ros1/src/hardware/drivers/march_imu_manager/test/wireless_master_test.cpp
Due: noetic:clang_tidy

Remove clang-tidy stage from pipeline
  .gitlab-ci.yml
Due: none

Disable clang-format on specific includes of SOEM
  ros1/src/hardware/interface/march_hardware/check/slave_count.cpp
Due: noetic:clang_tidy

Fix build.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add break statements and fix resizing.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix build problems continue with preformance problems.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Improve start and end locations.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
Due: none

Fix projection method.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix build problems.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add parameter safety check and improve optimal foot location estimation.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add parameter check.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Leave all locations valid for now.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

End all large changes, start build fixing.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Add removed check.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Resize line coefficients in the header.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Make use of switch case statements.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Start work.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/linear_algebra_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Remove useless if statement and add check that distance to line is not too big.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Rename selected_obstacle to selected_gait.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add the hull dimension to the parameter file.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix build problems and use switch case.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Revert executagble_locations resize change.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Start debugging.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix small build problems.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Increase decomposistion into methods.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Fix reading of the yaml file.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Reformat march_hardware_builder
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_config_exceptions.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/absolute_encoder_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/allowed_robot_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/imc_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/incremental_encoder_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/pdb_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/test_runner.cpp
Due: noetic:clang_tidy

Reformat march_hardware_interface
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_pdb_state_interface.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_temperature_sensor_interface.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_on_off_command.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/power_net_type.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
  ros1/src/hardware/interface/march_hardware_interface/test/pdb_state_interface_test.cpp
  ros1/src/hardware/interface/march_hardware_interface/test/test_runner.cpp
Due: noetic:clang_tidy

Refactor march_gazebo_plugins
  ros1/src/simulation/march_gazebo_plugins/include/contact/contact_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/contact_plugin.cpp
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
Due: noetic:clang_tidy
