Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Removing unused qpoases enums in model_predictive_controller.hpp and adding comments to initial state and reference vectors definitions in joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Constructor parameter 'W' is now getting moved to avoid unnecessary copies in model_predictive_controller.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add headers and fix indexing of arrays
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format code
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Trying to get the mpc visualiser to work
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/MpcMsg.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Change mpc msgs dir for bridge build purposes
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Updating model name in cmakelists, adding simulation config file and creating an mpc version of the march6 xacro file
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march6.yaml
  ros2/src/shared/march_description/urdf/march6_mpc.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Updating the tuning
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march6.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix working with part of joint in simulation
  ros1/src/march_launch/launch/march.launch
  ros1/src/simulation/march_simulation/CMakeLists.txt
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_files/minimal/default.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_description/urdf/macros/configurable_joint.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/calculation_setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add sit gait to airgait directory
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MVI_sit_down_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MVI_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MVI_sit_home_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MVI_sit_home_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand.gait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_home/MVI_stand_home_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_home/MVI_stand_home_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_up/MVI_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_up/MVI_stand_up_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add ramp down gait files
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_close/MVI_slopedown_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_close/MVI_slopedown_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_open/MVI_slopedown_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_open/MVI_slopedown_leftopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_swing/MVI_slopedown_leftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_swing/MVI_slopedown_leftswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/ramp_down.gait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_close/MVI_slopedown_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_close/MVI_slopedown_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_open/MVI_slopedown_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_open/MVI_slopedown_rightopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_swing/MVI_slopedown_rightswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_swing/MVI_slopedown_rightswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/left_close/MVI_slopedown_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/left_close/MVI_slopedown_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/ramp_down_last_step.gait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/right_open/MVI_slopedown_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/right_open/MVI_slopedown_rightopen_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add the idle positions for the ramp down gait
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add sit position to airgait directory
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Rename last step and and ramp down to default
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/left_close/MVI_slopedownlaststep_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/left_close/MVI_slopedownlaststep_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/right_open/MVI_slopedownlaststep_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/right_open/MVI_slopedownlaststep_rightopen_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix the ramp down gait names
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_close/MVI_rampdown_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_close/MVI_rampdown_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_open/MVI_rampdown_leftopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_open/MVI_rampdown_leftopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_swing/MVI_rampdown_eftswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/left_swing/MVI_rampdown_leftswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_close/MVI_rampdown_rightclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_close/MVI_rampdown_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_close/MVI_slopedown_rightclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_open/MVI_rampdown_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_open/MVI_rampdown_rightopen_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_swing/MVI_rampdown_rightswing_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down/right_swing/MVI_rampdown_rightswing_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/left_close/MVI_rampdownlaststep_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/left_close/MVI_rampdownlaststep_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/right_open/MVI_rampdownlaststep_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_down_last_step/right_open/MVI_rampdownlaststep_rightopen_steep_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Move script to march_launch and first attempt to fix hardware
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/CMakeLists.txt
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros1/src/simulation/march_simulation/CMakeLists.txt
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Restore minimal default.yaml
  ros2/src/gaits/march_gait_files/minimal/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Make all joints available as default
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix some merge problems
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/shared/march_description/urdf/march6_no_translational_joints.xacro
  ros2/src/shared/march_description/urdf/test_left_leg_rotational.xacro
  ros2/src/shared/march_description/urdf/test_left_odrive_lower.xacro
  ros2/src/shared/march_description/urdf/test_left_odrive_upper.xacro
  ros2/src/shared/march_description/urdf/test_right_leg_rotational.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Add reference to dashboard and fix more than 1 joint
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove the ramp up single step and fix walk names
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/left_close/MVI_rampup_leftclose_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/left_close/MVI_rampup_leftclose_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/left_close/MVI_rampup_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/left_close/MVI_rampup_leftclose_steep_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/ramp_up_single_step.gait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/right_open/MVI_rampup_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/right_open/MVI_rampup_rightopen_flat_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/right_open/MVI_rampup_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/ramp_up_single_step/right_open/MVI_rampup_rightopen_steep_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Run formatter
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix test
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add missing gaits to simulated IPD
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix typo
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/absolute_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/incremental_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Start with cleaning up code
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/absolute_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/encoder/absolute_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/incremental_encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear_odrive.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational_odrive.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove old test_joint files
  ros1/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
  ros2/src/shared/march_description/urdf/test_joint_linear_odrive.xacro
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
  ros2/src/shared/march_description/urdf/test_joint_rotational_odrive.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Remove weird .prof files
  ros2/prof/march_gait_selection.prof
  ros2/prof/march_robot_information.prof
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Reset simulation config files
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march6.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march6_no_translational_joints.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

A MotorController always needs both an absolute and an incremental encoder
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Rename moving to actuating
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/shared/march_description/urdf/macros/configurable_joint.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Reset march6.yaml actuating joints
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update errors and clean up ODrive class
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/incremental_encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/motor_controller_error.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/odrive_pdo_map.h
  ros1/src/hardware/interface/march_hardware/src/error/motor_controller_error.cpp
  ros1/src/hardware/interface/march_hardware/src/ethercat/odrive_pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/encoder/absolute_encoder_test.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/motor_controller_error.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix tests
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/error/motor_controller_error_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove sit gait
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MIV_final.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Clean up ros_info statements
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
