Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Only move to the ground when the frame id to transfrom to is either the left or right foot
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Try to fix pipeline?
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Run black
  ros2/src/hardware/interface/march_smartglasses_bridge/launch/smartglasses_bridge.launch.py
  ros2/src/hardware/interface/march_smartglasses_bridge/march_smartglasses_bridge/bridge.py
  ros2/src/hardware/interface/march_smartglasses_bridge/setup.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add prepare sit and stand gaits to move hips
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_home/MVI_stand_home_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_home/MVI_stand_home_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix graph
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix stand home gait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_home/MVI_stand_home_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add gaits to yaml and fix transitions
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Adding the required files for enabling and disabling joints for the march6 exoskeleton
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march6_debug.yaml
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march6_debug.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/shared/march_description/urdf/march6_debug.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Add the subgait name to the service call
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add logic for handling the subgait name
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix multiplying by two mistake
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix merge conflicts
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix negative gait dimensions bug
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Increase time of stand home and prepare sit
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_home/MVI_stand_home_v2.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove unused code
  ros1/src/data/march_realsense_reader/include/utilities/color_utilities.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Return from callback if no point cloud is published or wrong camera is given
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove unused code
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Reduce limits
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Make valid foot locations green
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Do not use the unique crop vector method
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Rename some gait directories
  .gitignore
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/test_left_leg_rotational/default.yaml
  ros2/src/gaits/march_gait_files/test_left_leg_rotational/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_left_leg_rotational/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_gait_files/test_left_odrive_lower/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_right_leg_rotational/default.yaml
  ros2/src/gaits/march_gait_files/test_right_leg_rotational/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_right_leg_rotational/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_gait_files/test_rotational_simple/default.yaml
  ros2/src/gaits/march_gait_files/test_rotational_simple/test_joint_gait/perform_test/perform_test_v0.subgait
  ros2/src/gaits/march_gait_files/test_rotational_simple/test_joint_gait/test_joint_gait.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

All joints activated again but structure to turn them off is kept
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march6_debug.yaml
  ros1/src/simulation/march_simulation/config/groundgait/model_predictive_control/march6_debug.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/shared/march_description/urdf/march6_debug.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Convert measurements to lists and add last input to json
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add MPC controlling tuning parameters to march4.yaml configuration
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march4.yaml
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Add MPC related messages to march_shared_msgs
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcJoint.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcMsg.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Changing acado-solver branch and model
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Trying to get the mpc visualiser to work
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcJoint.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcMsg.msg
  ros2/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change acado-solver branch in CMakeLists to allow disconnected exo model
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add headers and fix indexing of arrays
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Removing unused qpoases enums in model_predictive_controller.hpp and adding comments to initial state and reference vectors definitions in joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Modify C++ code to utilize new MPC model structure
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format code
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Override control period for test rotational joint in Gazebo
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change mpc msgs dir for bridge build purposes
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/MpcArray.msg
  ros1/src/shared/march_shared_msgs/msg/MpcDiagnostics.msg
  ros1/src/shared/march_shared_msgs/msg/MpcJoint.msg
  ros1/src/shared/march_shared_msgs/msg/MpcMsg.msg
  ros1/src/shared/march_shared_msgs/msg/MpcStateVectors.msg
  ros1/src/shared/march_shared_msgs/msg/MpcTuning.msg
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/shared/march_shared_msgs/msg/MpcArray.msg
  ros2/src/shared/march_shared_msgs/msg/MpcDiagnostics.msg
  ros2/src/shared/march_shared_msgs/msg/MpcJoint.msg
  ros2/src/shared/march_shared_msgs/msg/MpcMsg.msg
  ros2/src/shared/march_shared_msgs/msg/MpcStateVectors.msg
  ros2/src/shared/march_shared_msgs/msg/MpcTuning.msg
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Nanosec conversion into constant
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Constructor parameter 'W' is now getting moved to avoid unnecessary copies in model_predictive_controller.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove unused modules
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Modify C++ code to utilize new MPC model structure
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
