Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

container:build:
  stage: Build container
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

foxy:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Add check for pointcloud sizes
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Rebased main and fix merge conflicts
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Add check for zero clusters
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Update parameter names
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add region growing implementation
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.yaml
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Apply 4 suggestion(s) to 2 file(s)
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/region_creator.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/region_creator.cpp
Due: noetic:clang_tidy

Trivial change to Dockerfile
  Dockerfile
Due: container:build

Start a new parameter determiner.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
Due: noetic:clang_tidy

Continue previous commit.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Start implementing of cropping method.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Start on structure form crop cloud to hull method.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:clang_tidy

Clean up code.
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: noetic:clang_tidy

Use boost::shared_ptr for region vector.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Remove submodule strategy
  .gitlab-ci.yml
Due: none

Readd submodule strategy
  .gitlab-ci.yml
Due: none

Change name plane parameters to plane coefficients.
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Changes for linear joint testing
  ros1/src/hardware/interface/march_hardware/config/linear_joint.json
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: none

Improve method name.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
Due: noetic:clang_tidy

Fix typo.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/hull_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/hull_finder.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:clang_tidy

Low stair gaits for both deep and undeep stair.
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_hD.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_hd.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_haa_adpf_hD.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_haa_adpf_hD.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_hD.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_hd.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_haa_adpf_hD.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_haa_adpf_hd.subgait
Due: none

Remove submodule
  .gitlab-ci.yml
Due: none

Revert previous change..
  .gitlab-ci.yml
Due: none

Attempt to change submodule strategy
  .gitlab-ci.yml
Due: none

Add random whitespace for pipeline testing
  Dockerfile
Due: container:build

Update pipeline
  .gitlab-ci.yml
Due: none

Remove submodule sync in tag stage
  .gitlab-ci.yml
Due: none

Remove before script
  .gitlab-ci.yml
Due: none

Test with before script
  .gitlab-ci.yml
Due: none

Commit temporary changes
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
  ros2/src/shared/march_shared_msgs/msg/FollowJointTrajectoryActionFeedback.msg
  ros2/src/shared/march_shared_msgs/msg/FollowJointTrajectoryFeedback.msg
  ros2/src/visualization/multiplot_configurations/actual_desired_velocity.xml
Due: none

Copy files to motor_controller directory
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/actuation_mode.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_target_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube_target_state.cpp
  ros1/src/hardware/interface/march_hardware/test/imotioncube/imotioncube_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/test/imc_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Reduce the coupling of the Joint and MotorController classes
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/error_type.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/march_robot.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/src/ethercat/ethercat_master.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_joint.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Add some abstraction to ActutationMode
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/actuation_mode.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
Due: noetic:clang_tidy

Let Joint and MHWI use the new MotorControllerState
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/ImcState.msg
  ros1/src/shared/march_shared_msgs/msg/MotorControllerState.msg
Due: noetic:clang_tidy

Finalize MotorControllerState class
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state2.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
Due: noetic:clang_tidy

Commit intermediate motor controller state class
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/actuation_mode.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state2.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
Due: noetic:clang_tidy

Move actuation mode away from joint
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/test/imotioncube/imotioncube_test.cpp
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: noetic:clang_tidy

Update c++ files
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
Due: noetic:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}
